[2020-05-14 11:04] zdroid commented on #548
This should be updated.

1. This seems not to be an issue anymore:

2. Blog post dates have regularcontrast... since they're just black text on white background?
3. Donate buttons are the same
4. GitHub's star badge does change on focus

Regarding 3. and 4, those are just buttons provided by GitHub. It's not really something made specifically for julialang.org.

[2020-05-14 11:05] zdroid commented on #789
@jessebett What do you think about the new design? Is removing the RSS icon still necessary?

[2020-05-14 15:00] jessebett commented on #789
Hey,

I don't think removing the RSS icon is necessary. My main gripe was how prominent it was and its juxtaposition with the title of the blog.

Having it inline but to the right may be a good solution, though I don't know how this will look on a narrow window, will it look the same as before?

[2020-05-14 15:15] ViralBShah commented on #789
Looks fine. You can try it out - it's live.

[2020-05-14 21:31] zlatanvasovic opened #814 "Automatically generated sitemap"
Just like the list of blog posts is automatically generated, `sitemap.xml` should be generated automatically too. It speeds up the search-engine process of indexing the blog posts and other pages from the Julia website.

[2020-05-15 06:02] tlienart commented on #814
Yes, it’s something I need to add to Franklin, the reason why the current site map was in assets was a quick fix needed recently where I generated it with an external tool and directly submitted it to google ping

[2020-05-16 19:39] ExpandingMan opened #818 "add BenchmarkTools.jl to "essential tools" section"
Happened to notice the "essential tools" section today, and noticed that the profiler was there but BenchmarkTools.jl is not.  I think it would be good to add this.  We see lots of new users with misconceptions about benchmarking (e.g. using `@time`) and one can hardly blame them because it's certainly not abundantly obvious how to properly benchmark in Julia.

[2020-05-16 20:05] ViralBShah commented on #818
That is already 4 tiles. So growing it will add another row. Perhaps it is time to have a separate page for Essential Tools.

[2020-05-16 20:17] ExpandingMan commented on #818
I think it would be well worth it to add, though I don't really have an opinion on whether it should be more rows or a separate page.

I think PackageCompiler.jl is probably now usable enough that it should also be included there.  I personally would like to see MacroTools.jl there, though I know there is some controversy on which is the best metaprogramming pattern matching tool to use, and there

[2020-05-16 20:51] zdroid commented on #818
@ViralBShah That's mentioned in #800 as:

I can try this one if @tlienart agrees.

[2020-05-16 20:54] ViralBShah commented on #800
Just taking a step back here. I think the point of the front page redesign should not to be minimal or lighter to load, but to get a newcomer to the project excited about Julia and find the things they need quickly. Within that experience, we certainly want a lighter / fast loading page.

[2020-05-16 21:19] tlienart commented on #800
The main thing I wanted to do is a revamp of that ecosystem thing on the front page which would highlight top packages, maybe show some key code / plots

[2020-05-16 21:27] tlienart commented on #818
Please by all mean! Btw it’s not like I’m managing this thing, we’re all just trying to provide the best experience and get lots of excited new Julia users (who can then ask us about why their `@time` of a function was slow 🤐)

Jokes aside, I would be in favour of this stuff being moved off the front page (but accessible via a clear button that’s closer to the top) but some other people might disa

[2020-05-17 09:20] cormullion commented on #800
@tlienart I added a few more versions of the Bowyer–Watson/Delaunay triangulation background image with varying opacities and with correct graph coloring (since someone commented that adjacent triangles had the same color... :) But perhaps it would be simpler to just have a plain colored background...🤣

[2020-05-17 13:54] JeffreySarnoff commented on #800
The last few words of the final sentence can jump out of the surrounding text box, moving under the image.  The boxing should be enforced.

![fix](https://user-images.githubusercontent.com/1682118/82149080-3265d300-9824-11ea-8df5-accd4b4ca741.png)

[2020-05-17 14:26] zdroid commented on #800
@JeffreySarnoff Is that really such an issue? It does very well if it's not just a few words left over, like here:

![Screenshot from 2020-05-17 16-25-49](https://user-images.githubusercontent.com/2725611/82151288-1af60c80-985b-11ea-9cf4-f160c0f833cb.png)

Anyway, that section will be redesigned per the points mentioned above, so a better design may be implemented.

[2020-05-17 15:31] JeffreySarnoff commented on #800
It is possible to have the best of both, extending the box when the excess is small and overlaying below the image  otherwise. The hanging phrase looks unprofessional to me.

[2020-05-17 16:41] zdroid commented on #818
Benchmark tools are missing a logo, in order to be added. Do you have some appropriate image for that?

[2020-05-17 19:57] cormullion commented on #818
you could use [this](https://gist.github.com/cormullion/dd500d4aed96758dd12aab2b649840d4) since they didn't need it...

[2020-05-17 20:00] zdroid commented on #818
@cormullion Now that's another level of (programming) art, I really like it :smile:

[2020-05-18 16:31] cmcaine commented on #800
Anecdata: I really like the plots gifs and they were one of the reasons why I started using Julia.

You could make them `.webm`s if you need to cut bytes?

[2020-05-18 18:03] cormullion commented on #800
not sure webm is supported on Apple mobile devices...

[2020-05-18 18:15] cmcaine commented on #800
They support MP4, which would probably still be an improvement.

On Mon, 18 May 2020, 19:03 cormullion, <notifications@github.com> wrote:

[2020-05-22 11:03] bjrnfrdnnd opened #828 "There is no ´mastering julia 1.0´ by malcolm sherrington on packt"
The link to this Book doesn't work. A 404 error appears.
PackT Has a book by this Author about Julia but that book is not Julia 1.0 And it was published in 2015.

[2020-05-22 11:04] tlienart commented on #828
Would you mind opening a PR removing the link? Thanks!

[2020-05-22 11:06] bjrnfrdnnd commented on #828
No I would not. But I do not know how to open a PR In which I am request removing the link.

[2020-05-22 11:08] bjrnfrdnnd commented on #828
I was closing the issue but I did not want to do that.

[2020-05-22 11:19] bjrnfrdnnd commented on #828
I was actually referring to this site: [https://julialang.org/learning/](url) but I do not know how to do a change request there (there seemingly is no github page with that content)

[2020-05-22 11:27] logankilpatrick commented on #828
In the repo: learning/index.md

[2020-05-22 11:29] bjrnfrdnnd commented on #828
Found it thanks.

[2020-05-22 11:46] bjrnfrdnnd commented on #828
OK PR is done

[2020-05-22 11:46] #828 closed

[2020-05-28 21:36] ViralBShah opened #837 "Change download order to show 64-bit first"
We've seen people sometimes download 32-bit binaries, even on 64-bit architectures, just because it is the first thing in the table.

Put the 64-bit binaries in the first column, and 32-bit in the second will hopefully lead to more people picking the right binaries.

[2020-05-28 21:50] zdroid commented on #837
Do you mean it for the main downloads page only, or for https://julialang.org/downloads/oldreleases/ and https://julialang.org/downloads/nightlies/ as well?

Interestingly, in [Currently supported platforms](https://julialang.org/downloads/#currently_supported_platforms) 64-bit releases are displayed first.

[2020-05-28 22:14] ViralBShah commented on #837
I don't think we should bother with the old releases. I was thinking the main downloads page - although good to be consistent with the nightlies.

[2020-05-29 00:10] #837 closed

[2020-05-29 00:18] ViralBShah opened #842 "Footer is not centered"
It should either stretch to fill the page, or be centered. Looks a bit strange right now.

![Screen Shot 2020-05-28 at 8 17 57 PM](https://user-images.githubusercontent.com/744411/83207097-5bd60700-a120-11ea-89b1-955187b4aafe.png)

[2020-05-29 06:58] tlienart commented on #842
I'll have a look

[2020-05-29 07:16] fredrikekre opened #843 "upcoming_release_short empty on downloads page"
The templating for `upcoming_release_short` seems to not have worked on the downloads page.

[2020-05-29 07:16] tlienart opened #844 "Short version not showing in markdown text of nightly release"
Note the absence of number after the "v"; this is a bug with Franklin which I'll  fix asap. Just opening an issue to keep  track.

![Screen Shot 2020-05-29 at 09 14 55](https://user-images.githubusercontent.com/10897531/83232157-f53b0280-a18c-11ea-9ce0-757727651384.png)

[2020-05-29 07:19] tlienart commented on #843
#844

[2020-05-29 07:19] #843 closed

[2020-05-29 08:47] tlienart commented on #844
patch release incoming with Franklin, once this is merged, we just have to  re-trigger a build here and the problem is fixed.

[2020-05-29 09:37] #844 closed

[2020-05-29 09:37] tlienart commented on #842
should be fixed now

[2020-05-29 09:37] #842 closed

[2020-05-29 10:35] PallHaraldsson opened #846 "Bug in blog for latest entry"
Look at:
"GSoC and JSoC 2020 Project List" and it should be obvious (I thought first it was my browser failing, with lots of tabs open). Next box is "2020-05-05", then "empty".

I believe all should be one, and if you don't see this, it's my browser or has been fixed.

[2020-05-29 10:39] PallHaraldsson commented on #837
For same reason should we warn people about the julia snap, it gets you 32-bit (on 6-bit platform)?

There's an unofficial julia snap that doesn't have this issue, and is up-to-date (for non-LTS, the other isn't for LTS even): https://snapcraft.io/julia-mrcinv

Should we recommend non-official?

[2020-05-29 11:07] zdroid commented on #846
That must be a temporary problem with the Franklin build. I built the site locally and it shows normally.

The reason for such display is that `<p></p>` tag is missing around the content.

[2020-05-29 11:38] tlienart commented on #846
I'll fix this, thanks for raising the issue.

[2020-05-29 11:48] #846 closed

[2020-05-29 14:23] zdroid commented on #789
@jessebett Is this good to be closed now?

[2020-05-29 14:27] zdroid commented on #292
@inkydragon localStorage can be used instead of cookies, which avoids the problem. Has there been a consensus on what's the best design to be used? Should it be a link somewhere, an alert, an automatic redirect? I'm against the automatic redirect for the reasons @inkydragon described above.

[2020-05-29 15:47] ViralBShah commented on #292
Nothing has been decided. If you have a solution - go for it!

[2020-05-29 15:48] ViralBShah commented on #789
I'm going to close it. Can be reopened if necessary.

[2020-05-29 15:48] #789 closed

[2020-05-29 15:55] zdroid commented on #292
If there are more languages, then a dropdown menu in navbar is probably the best solution. https://getbootstrap.com/docs/4.5/components/dropdowns/

Is there a list of available translations somewhere?

[2020-05-29 16:33] ViralBShah commented on #292
I know there is a korean translation of the older version of the website. I suspect that if we make it easy, more translations will come online.

Perhaps with the browsers having got so good at translation nowadays, this is not as big a deal as it might have been once upon a time.

[2020-05-29 16:52] Roger-luo commented on #292
I think at least for the Chinese version, we actually provide some custom information about how to access resources in Chinese, so I believe there is always a reason for these kinds of website to exist.

I feel this will require i18n support from https://github.com/tlienart/Franklin.jl

[2020-05-29 16:56] ViralBShah commented on #292
Yes - I imagine if we need to do this right, Franklin may have to support it. Otherwise, we will continue to have these as different websites that are maintained separately.

@tlienart Thoughts?

[2020-05-29 17:40] tlienart commented on #292
Well you can already have a folder say `cn` and reproduce the file structure there with content in Chinese, (you’d then have `/cn/downloads/` etc.

Assuming you’d essentially want to reproduce the main pages, this is trivial to do (just need the translation...) but maybe I’m missing something.

What I could try is if I get told what are up to date translations of specific pages (eg downloads) in C

[2020-05-29 17:43] zdroid commented on #292
I think they meant having a i18n-style translation, string by string. In that case, the web page duplication wouldn't be needed, just changing the text strings. However, as far as I can tell, Franklin doesn't allow that much content abstraction, so I'd leave this for some future release.

[2020-05-29 17:45] tlienart commented on #292
Do you have an example of this I could have a look at? I’m trying to figure out where the content would live that would be easiest to maintain.

[2020-05-29 17:51] zdroid commented on #292
Something like this https://github.com/kurtsson/jekyll-multiple-languages-plugin. In any case, it would require abstracting the strings on the webpage into `{{ variable tags }}` and then translating the tags in an additional file.

[2020-05-29 19:02] tlienart commented on #292
Oh I meant an example of an actual site with translations to see where they put the translated stuff.

But fair enough looking at Hugo for a bit it seems that they’re doing pretty much what I suggest above (a folder with the translated stuff) with, indeed, support for insertion of language dependent names for navigation etc (eg “downloads” / “téléchargement”) the exact same could be accomplished w

[2020-05-29 20:25] tlienart commented on #292
Right this https://github.com/JuliaLang/www.julialang.org/commit/81d50a5b477e47ade55597cf4a24c7f889d9dd1a shows how it could happen with Franklin. It's reasonably easy (I think).

You can run this yourself and `/cn/downloads` and `/fr/downloads` will work (not linked though).

So assuming we have each of the main pages with a translation and that we can translate all the buttons and menus by compl

[2020-05-29 20:49] zdroid commented on #292
That works very well, nice work. :smile:

Jekyll doesn't have the internationalization support pre-included, so the syntax for that depends on the plugin you use. The one that you used is very simple and intuitive.

What I originally meant is that Franklin lacks the more basic abstractions like variable scopes, layouts and the front matter. With those any further abstraction becomes easier. But th

[2020-05-30 13:12] TeAmP0is0N commented on #805
@tlienart I would like to work on this issue. Thank you!

[2020-05-31 08:11] TeAmP0is0N commented on #805
@tlienart @VictorelPetrovich Should I start without assigning?

[2020-05-31 08:47] tlienart commented on #805
Yes sounds good I’ll mark you as assigned when I’m on my computer

[2020-06-01 05:12] TeAmP0is0N commented on #805
@tlienart Is there slack or any channel to join discussions?

[2020-06-01 06:40] tlienart commented on #805
There's Julia#website but it's probably best you discuss here. Even better would be to go about this in small chunks and open PRs for each that people can comment on, thanks!

[2020-06-01 07:08] TeAmP0is0N commented on #805
Ok, thank you.

[2020-06-06 16:39] el-oso opened #853 "Prominently show Unreasonable Effectiveness of Multiple Dispatch video"
From a discussion on Slack it was mentioned that this videos has helped to change other people's minds about Multiple Dispatch and Julia. @ViralBShah suggested that perhaps it should be displayed more prominently on the website.
[Unreasonable Effectiveness of Multiple Dispatch](https://www.youtube.com/watch?v=kc9HwsxE1OY)

Perhaps add a few examples from DifferentialEquations.jl + Measurements.jl

[2020-06-06 17:30] ViralBShah commented on #853
I think we need to put a new page on the website (and link from the first page). It basically needs to dispel the object oriented myths, discuss the expression problem, show this video, and then the examples mentioned above.

Anyone interested in leading the charge on this?

@StefanKarpinski

[2020-06-07 22:00] logankilpatrick opened #854 "Add a little more about why Julia on the Download page (logistical Why's)"
Just like what is done here: https://dotnet.microsoft.com/download
<img width="1398" alt="Screen Shot 2020-06-07 at 4 58 07 PM" src="https://user-images.githubusercontent.com/35577566/83981068-38f5e080-a8e0-11ea-9d0d-941951139ecf.png">

...I think it would be powerful to add this to the download page.

[2020-06-07 22:03] zdroid commented on #854
It could be made very easily in a similar manner to the front page's heading. We just need an appropriate background image for it. And while we are at it, we can choose a background image for the front page as well... :laughing:

[2020-06-07 22:08] logankilpatrick opened #855 "Add Julia Hello world page"
Build out a Julia Hello world page like this: https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/intro?sdk-installed=true

[2020-06-07 22:09] logankilpatrick commented on #752
This will be done post-GSoD selection.

[2020-06-07 22:45] ViralBShah commented on #855
I think we should literally do a better job of showcasing JuliaAcademy content. Too many different things will lead to strange cliffs - what does someone do after that? Whereas, if we get them on to JuliaAcademy and make that experience smooth and show the courses prominently on julialang.org - people can then start with the intro course and keep going to the next one and so on.

[2020-06-07 22:47] zdroid commented on #855
@ViralBShah That's a great idea. When I was starting out, I found JuliaAcademy the most useful learning material.

[2020-06-07 23:09] ViralBShah commented on #855
JuliaAcademy itself could use much better theming, images and so on...

[2020-06-08 20:44] logankilpatrick opened #856 "Post-JuliaCon Banner"
I am a fan of this banner (o something like it) for post-JuliaCon
<img width="1398" alt="Screen Shot 2020-06-08 at 3 43 17 PM" src="https://user-images.githubusercontent.com/35577566/84078666-e5969780-a99e-11ea-95aa-33464b884729.png">

[2020-06-08 20:45] zdroid commented on #856
Do you intend it to be in the same format as the current one, or you have something different in mind?

[2020-06-08 20:48] logankilpatrick commented on #856
The same format, just adding this as a reminder for then.

[2020-06-08 20:58] ViralBShah commented on #856
We've done this in earlier years, and we also show the random video from JuliaCon on the front page. But it would be good to have a plan on how to drive engagement post JuliaCon with all the content that will be generated.

[2020-06-09 10:22] TeAmP0is0N commented on #853
@ViralBShah Yes, I am in.

[2020-06-09 12:21] ViralBShah commented on #853
Ok, let's have the PRs!

[2020-06-09 19:59] ViralBShah opened #857 "Nightly builds table broken"
https://julialang.org/downloads/nightlies/
![Screen Shot 2020-06-09 at 3 59 23 PM](https://user-images.githubusercontent.com/744411/84193922-34f5ca00-aa6a-11ea-9c47-90b730148d2d.png)

[2020-06-09 20:20] #857 closed

[2020-06-15 01:36] #744 closed

[2020-06-15 01:36] #746 closed

[2020-06-15 17:03] logankilpatrick opened #868 "Make <H> tags on Community and homepage clickable"
Hey @tlienart, how can we make the H tag's on the various pages clickable?

[2020-06-15 17:19] zdroid commented on #868
If the page is in Markdown and you use the Markdown syntax for headings, it's done automatically. (Look at https://julialang.org/downloads/#older_releases for example)

[2020-06-15 17:23] logankilpatrick commented on #868
Yes, but for the pages where we embed the HTML in markdown, those don’t work.

[2020-06-15 21:00] logankilpatrick commented on #868
Ah, okay thanks!

[2020-06-15 22:48] zdroid commented on #868
I guess this should be closed if @tlienart's suggestion resolves your issue, right?

[2020-06-17 01:45] ExpandingMan opened #870 "link for zulip in community"
I know the fracturing of the chat between zulip and slack is still rather controversial, but there seems to be a good number of us over on zulip who strongly prefer it.  Any chance we can get a link to the [Julia zulip](https://julialang.zulipchat.com) in the community page?

One objection I can imagine to this is that perhaps none of the people with admin rights to the JuliaLang github org have a

[2020-06-17 01:50] giordano commented on #870
Note that there is a link here: https://julialang.org/community/otherchannels/

[2020-06-17 02:11] ExpandingMan commented on #870
Sorry, didn't even see that.  I was looking under "chat".

[2020-06-17 02:19] ViralBShah commented on #870
We should point out that many Julia sub-communities are on Zulip, and bring that into the front page. The QQ link can go - since the Chinese website has those links already.

[2020-06-17 02:27] aramirezreyes commented on #870
It is, however, one layer below Slack, it would be cool to have it on the same layer.

[2020-06-17 03:17] #870 closed

[2020-06-17 03:30] Keno opened #872 "Add a page for "Julia resources at your university/company/research center""
I often find that myself telling people about other groups at their own institutions that are already using Julia, or compute clusters available to them that have Julia installed, etc. I think it would be good to have a list of such resources and contact people (only if they're willing of course) to connect users with the appropriate resources at their own institutions.

[2020-06-17 03:42] Keno commented on #872
Or maybe also "existing Julia users in your field".

[2020-06-17 03:47] ExpandingMan commented on #870
great, thanks all!

[2020-06-17 03:49] Keno commented on #872
Initial Content:
- MIT: Contact Julia Lab
- Google: There's an internal mailing list
- Microsoft: We know there's a number of internal users, not sure if anybody wants to be listed publicly, don't think there's a mailing list (maybe just have people reach out to me or somebody if they want to be connected)
- NERSC: Julia is supported on Cori, support is available for NERSC users

just off the top

[2020-06-17 03:51] Keno commented on #872
NVIDIA has a dedicated Julia person also, though NVIDIA people seem to be able to find him fine, I assume they have some sort of internal directory. Might be good to list also though.

[2020-06-17 03:51] Keno commented on #872
Same story with Intel.

[2020-06-17 03:51] ChrisRackauckas commented on #872
What about allowing people to declare themselves campus champions? Alan is the campus champion for MIT, etc.? I know some HPC resources do that so people know who to contact.

[2020-06-17 03:54] Keno commented on #872
Yes, that's the idea - though I want to make it slightly broader to also allow things like mailing lists or even just links to things like internal jupyterhub cluster that people may have access to even if they don't know it (e.g. I think a lot of the European and Canadian universities do).

[2020-06-17 11:17] zdroid commented on #872
@ChrisRackauckas What makes one a campus champion?

@Keno It may be good to contact the people behind https://fluxml.ai/, as they already have a section "Researchers, users and developers of Flux" and may be able to help in finding out the resources you're looking for.

[2020-06-17 11:24] ChrisRackauckas commented on #872
Someone who's willing to be a campus champion 😄 . It's just a name to put up there so that everyone who's interested in Julia at a particular institution has a contact, and whoever is willing to put their name up can be one. It doesn't have to be unique, and surely if there are two names they will know each other by essence of someone had to put their name second, and thus it's already a nice way

[2020-06-17 11:34] zdroid commented on #872
Really interesting idea.

I think putting this idea into effect would really make the collaboration grow well, especially on universities without much Julia users. For example, at the University of Belgrade (where I will enroll soon) and its affiliated academic institutions almost all scientific research is exclusively done in C/C++ and Python. So someone interested in Julia would be stuck with th

[2020-06-17 13:01] ViralBShah commented on #872
Sounds like a good idea!

[2020-06-17 14:01] logankilpatrick commented on #872
The next question is how can we implement this in the site without just making one big list. I’m guessing we would need some JS

[2020-06-17 14:06] ViralBShah commented on #872
I thought just make it big list. People can just search on the page using the browser's find.

[2020-06-17 15:01] mforets opened #873 "More prominent info about Julia Editors and IDE"
Perhaps the "Download Julia" page (https://julialang.org/downloads/) should mention that Julia can be used in different editors and IDEs, with a link to the panel "Editors and IDEs" scrolling down the main page (https://julialang.org/), e.g.

    - . . . . .
     - Using [IJulia](https://github.com/JuliaLang/IJulia.jl), a Julia-language backend combined with the Jupyter interactive environment (al

[2020-06-17 15:10] zdroid commented on #872
@logankilpatrick @ViralBShah Something similar to the format of https://government.github.com/community/ would be appropriate. What do you think? I'd also advise its use of tiles with images (similar to what we have for Editors and IDEs on the front page).

[2020-06-17 15:11] zdroid commented on #873
https://www.rust-lang.org/ for example has that as a separate page in the top navbar. Would that be a better option?

[2020-06-17 15:19] ViralBShah commented on #872
Getting images for all those orgs and maintaining it to look uniform and nice is a lot of work. Also, we want to make it trivial for people to add themselves to that list.

[2020-06-17 15:20] ViralBShah commented on #872
My take is let's do something simple and see if people find it useful. The problem is that unless the list is really long, it looks really bad (like only 10 institutions have Julia champions or something).

[2020-06-17 15:22] ChrisRackauckas commented on #872
Post on Discourse and we might get like 50 in a day.

[2020-06-17 15:22] zdroid commented on #872
@ViralBShah Why does it have to be orgs? If we are talking about universities, every has its own logo. Seeing the logo will help potential Julia users find their colleagues who are using Julia more easily.

I think that would be remedied by this:

[2020-06-17 16:34] ViralBShah commented on #872
Sorry for being ambiguous - I was referring to real organizations- Universities, companies, etc. Yeah, if they have a github org, we can use that.

[2020-06-17 17:08] zdroid commented on #872
@ViralBShah So, what is your final say on the format of the page, should it be similar to https://government.github.com/community/?

[2020-06-17 18:00] ViralBShah commented on #872
My suggestion is do the simple thing for now and let's focus effort on the other parts of the website. Let's build some content here and then revisit the presentation a few weeks later.

[2020-06-17 18:12] zdroid commented on #872
Is there some specific part that you have in mind? What is proposed here has great potential for the user base growth.

[2020-06-17 18:37] ViralBShah commented on #872
I meant the various PRs and issues that are open. It would be good to see those through. Each of the existing "tabs" in the menu is strange in its own way. So having a common design across the site - etc.

[2020-06-17 23:39] logankilpatrick opened #875 "Fix header color on Community Page"
https://julialang.org/community/ the colors for the headers do not alternate correctly.

[2020-06-17 23:47] zdroid commented on #875
Color-alternating style can be done with :odd and :even in CSS, but I fixed this manually.

[2020-06-18 00:01] #875 closed

[2020-06-18 13:42] ExpandingMan opened #878 "add download links for latest stable Julia version, latest dev version"
I'm not sure if this is really the most appropriate place to open this issue, but this is where the download links are after all, and I figured this would be much less likely to be lost in the noise here than the main julia repo.

Many software projects, perhaps even the majority not only have URL's for downloading specific versions of the software as we do now, but also dedicated URL's for downlo

[2020-06-18 14:06] zdroid commented on #878
From `config.md`:
[code]

Is that enough data?

[2020-06-18 14:21] ExpandingMan commented on #878
I'm sure something like that would be fine for users, but is this really something you'd want to maintain?

Now that I'm asking this question, I realize I'm probably being really stupid because someone has to go in and change the other download links anyway, so why not just go in and change this at the same time...

So yeah, I think if we just added URL's that directed to the downloads it would be

[2020-06-18 14:40] zdroid commented on #878
Well, that's way it currently maintained. The data provided there can be used for what you proposed. I'm not a maintainer, but I don't think updating these informations is a hassle anyway.

[2020-06-22 02:14] inkydragon opened #880 "Duplicate file at `infra/` and `_assert/infra/`"
We may remove `infra/`.

[2020-06-22 13:58] logankilpatrick opened #881 "Add Team section"
It may be nice to have a "Team" section of the site: https://www.astropy.org/team.html

[2020-06-22 14:02] tlienart opened #882 "Fix redirects"
I just realised that the redirects I added are not processed properly e.g.

https://julialang.org/download.html

leads to a 404

This is a simple bug in Franklin which should just copy over HTML files but seems to currently ignore anything that's not `index.html`.

[2020-06-22 14:08] ViralBShah commented on #881
You mean for GSOC? Or the whole Julia project?

[2020-06-22 14:09] ViralBShah commented on #881
This is a very difficult list to prepare, curate and maintain!

[2020-06-22 14:11] zdroid commented on #881
It also may be difficult to fit in the navbar or footer. Those two already have too many items (look at other similar sites for comparision), so that may need to be worked on first.

[2020-06-22 14:12] ViralBShah commented on #881
We can always add a page to the website by itself, without weaving it into the navigation. I'd like to make sure we do this very carefully. Not having a list is fine. But having a list where people get excluded (for whatever reason), is not good.

[2020-06-22 14:31] fredrikekre commented on #881
IMO there is not a clear enough team structure to be displayed on such a page.

[2020-06-22 15:12] ViralBShah commented on #881
Yes, we do not have such a team structure. One can always list all the contributors ever to github - but that has the downside of valuing code contributions above non-code contributions.

[2020-06-22 20:15] ViralBShah commented on #881
@logankilpatrick I think it is best to close this one.

[2020-06-27 10:52] aviks commented on #881
I agree, our structure is too wide and amorphous for this to be useful.

[2020-06-27 10:52] #881 closed

[2020-07-02 19:16] DilumAluthge commented on #638
Bump @ViralBShah @StefanKarpinski

[2020-07-02 22:38] ViralBShah commented on #638
What needs to be done here? We don't have a policy yet...

[2020-07-02 22:47] DilumAluthge commented on #638
Presumably the next step is for someone to draft a privacy policy?

After that, probably would need to have a lawyer look over it before posting it on the website.

[2020-07-02 22:48] DilumAluthge commented on #638
Prior art:
- https://numfocus.org/privacy-policy
- https://github.com/numfocus/privacy-policy

[2020-07-02 23:17] logankilpatrick commented on #638
Would we need a lawyer if we re-use the NumFocus one? I ping them 3 weeks ago to ask if we could use theirs but no one answered.

[2020-07-03 00:08] ViralBShah commented on #638
I am sure we can re-use theirs, but we should make sure it covers all the things we need.

[2020-07-03 11:39] jerome-white opened #892 "Links to stable releases not working consistently"
For the last few days I've been unable to download [binary stable releases](https://julialang.org/downloads/#current_stable_release) for Mac or Linux/FreeBSD. Windows works, and of course source, but not the others. My downloaders send a request but never get a response.

[2020-07-03 11:49] zdroid commented on #892
In which way they do not work? I tried all of them and I can download every binary.

[2020-07-03 13:40] jerome-white commented on #892
Both my browser, and `wget`, get stuck "waiting for response". Now the downloads seem inconsistent: macOS works, but the Linux versions work once, but no more than that.

[2020-07-03 15:00] ViralBShah commented on #892
They all just come from the Fastly CDN!

[2020-07-03 15:00] ViralBShah commented on #892
Can you try it from a different computer, or a different network?

[2020-07-03 18:24] staticfloat commented on #892
Can you show the result of a verbose `curl` download attempt?

Example:

[code]

This shows me that I was served through the `cache-sea4431-SEA` Fastly server, and that I was served directly through Fastly, not redirected to another server.

[2020-07-05 23:30] SaschaMann opened #894 "Survey page contains unrendered HTML and Julia blocks"
https://julialang.org/blog/2019/08/2019-julia-survey/

The start of the post isn't rendered:

![grafik](https://user-images.githubusercontent.com/20866761/86544559-32cb4200-bf28-11ea-847d-a68f4aa3749c.png)

Latest Firefox on Windows 10, scripts etc are all allowed except for GA.

[2020-07-06 01:00] ViralBShah commented on #894
I get it on chrome too. Most likely there's a simple fix.

[2020-07-06 10:13] tlienart commented on #894
I'm on it

[2020-07-06 10:28] rfourquet opened #895 "problems with blog post "2019-julia-survey"
1. In https://julialang.org/blog/, this blog post has title `nothing`
2. The first few lines of the post look like:
[code]

[2020-07-06 10:34] tlienart commented on #895
see #894

[2020-07-06 11:14] tlienart commented on #894
should be fixed with #896 thanks for the heads up

closes #894 and closes #895 which is a duplicate

[2020-07-06 11:14] #894 closed

[2020-07-06 11:14] #895 closed

[2020-07-06 17:03] PallHaraldsson opened #899 "Add book? Introduction to Quantitative Macroeconomics Using Julia: From Basic to State-of-the-Art Computational Techniques"
It seems interesting, but it says Julia 1.0 not yet out:

https://www.amazon.com/Introduction-Quantitative-Macroeconomics-Using-State-dp-0128122196/dp/0128122196/ref=mt_other

[2020-07-10 21:44] ViralBShah opened #903 "PowerPC is incorrectly formatted in the Tiers on downloads page"
PowerPC should like the x86-64 musl entry above. It is showing up in the first two columns instead of the last two. It is unclear why this is happening. The page source looks fine to me.

![Screen Shot 2020-07-10 at 5 43 29 PM](https://user-images.githubusercontent.com/744411/87205209-ea6ba580-c2d4-11ea-87b6-a2c3394d2343.png)

[2020-07-13 02:06] ViralBShah commented on #899
We should generally not recommend pre-1.0 books. They can always be added back when they are updated to 1.0.

[2020-07-13 02:06] #899 closed

[2020-07-13 14:21] keithbriggs opened #908 "out-of-date info at https://julialang.org/downloads/platform/"
https://julialang.org/downloads/platform/ says to do "sudo apt install julia" on Ubuntu, but this does not work ("E: Package 'julia' has no installation candidate"). You have to use snap to install the Ubuntu package, but even then you get a very old version, and it installs a 32 bit binary even on a 64 bit machine. Something is misconfigured.

The should all be updated or else deleted.

[2020-07-13 14:58] ViralBShah commented on #908
Maybe you need to specify a version number like `julia-1.4` or something?

[2020-07-13 15:04] keithbriggs commented on #908
No, searching for "julia" on the Ubuntu software store finds only the old 1.0.4 32-bit version, with comments and reviews from 2019.  Nobody seems to be updating the Ubuntu package.

Keith

________________________________
From: Viral B. Shah <notifications@github.com>
Sent: 13 July 2020 15:58
To: JuliaLang/www.julialang.org <www.julialang.org@noreply.github.com>
Cc: Briggs,KM,Keith,TUD2 R <keith.

[2020-07-13 15:06] giordano commented on #908
What version of Ubuntu are you talking about?  20.04 has Julia v1.4.1: https://packages.ubuntu.com/focal/julia

[2020-07-13 16:08] keithbriggs commented on #908
Ok, mine is 18.

________________________________
From: Mosè Giordano <notifications@github.com>
Sent: 13 July 2020 16:06
To: JuliaLang/www.julialang.org <www.julialang.org@noreply.github.com>
Cc: Briggs,KM,Keith,TUD2 R <keith.briggs@bt.com>; Author <author@noreply.github.com>
Subject: Re: [JuliaLang/www.julialang.org] out-of-date info at https://julialang.org/downloads/platform/ (#908)

What vers

[2020-07-13 16:13] giordano commented on #908
What 18 version?  There are two releases every year.  Anyway, both releases are not supported anymore and Ubuntu never upgrades packages like this within a release

[2020-07-13 19:46] keithbriggs commented on #908
Ubuntu 18.04.4 LTS

________________________________
From: Mosè Giordano <notifications@github.com>
Sent: 13 July 2020 17:13
To: JuliaLang/www.julialang.org <www.julialang.org@noreply.github.com>
Cc: Briggs,KM,Keith,TUD2 R <keith.briggs@bt.com>; Author <author@noreply.github.com>
Subject: Re: [JuliaLang/www.julialang.org] out-of-date info at https://julialang.org/downloads/platform/ (#908)

What 1

[2020-07-14 15:54] ViralBShah commented on #903
@tlienart Might you know why this is happening?

[2020-07-15 07:52] tlienart commented on #903
I’ll have a look today, thanks for the ping, maybe @zdroid has an idea too

[2020-07-15 09:43] #903 closed

[2020-07-15 22:10] ViralBShah opened #912 "The Julia 1.0 release blog post is not getting formatted correctly"
https://julialang.org/blog/2018/08/one-point-zero/

![Screen Shot 2020-07-15 at 6 09 53 PM](https://user-images.githubusercontent.com/744411/87604542-6b0c1680-c6c6-11ea-87d9-0d1ed6c992df.png)

[2020-07-15 22:28] ViralBShah commented on #912
cc @tlienart

[2020-07-16 09:32] #912 closed

[2020-07-16 12:09] ViralBShah commented on #880
PR appreciated!

[2020-07-16 12:10] ViralBShah commented on #873
Might as well combine it with the refactoring of moving tools to their own page.

[2020-07-16 14:58] tlienart commented on #882
https://julialang.org/download  is fine

[2020-07-16 14:58] #882 closed

[2020-07-17 20:08] zdroid commented on #814
Closing this issue as there's already an open issue in Franklin.

[2020-07-17 22:56] ViralBShah commented on #814
We should only close it here when this works on this site.

[2020-07-19 00:32] Keno opened #915 "Links on diversity page are broken"
The links in the table at https://julialang.org/diversity/ all go back to the diversity site rather than their intended target.

[2020-07-19 13:58] #915 closed

[2020-07-27 02:08] #880 closed

[2020-07-28 17:05] christopher-dG commented on #908
I'd like to point out one more thing that's out-of-date: there are references to `~/.juliarc.jl` and `~/.julia_history` on that page. They have been replaced with `~/.julia/config/startup.jl` and `~/.julia/logs/history`.

[2020-07-28 18:53] tianon opened #929 "404 on julia-1.5.0-rc2-musl-x86_64.tar.gz.asc"
As part of the recent v1.5.0-rc2 upload, it looks like we got `julia-1.5.0-rc2-musl-x86_64.tar.gz`, but `julia-1.5.0-rc2-musl-x86_64.tar.gz.asc` is missing (linked from https://julialang.org/downloads/#upcoming_release_vupcoming_release_upcoming_release_date).

- working: https://julialang-s3.julialang.org/bin/musl/x64/1.5/julia-1.5.0-rc2-musl-x86_64.tar.gz
- 404: https://julialang-s3.julialang.or

[2020-07-28 18:59] ararslan commented on #929
Good catch! Fixed, and thanks!

[2020-07-28 18:59] #929 closed

[2020-07-29 15:08] zdroid commented on #892
@jerome-white Is this still an issue, or it was temporary?

[2020-07-30 13:02] jerome-white commented on #892
I've tried sporadically over the last few weeks and haven't noticed it as of late. If this comes up again, I'll reopen this with a detailed `curl` output (as was requested).

[2020-07-30 13:02] #892 closed

[2020-07-30 13:05] zdroid commented on #868
@logankilpatrick I guess this should be closed if @tlienart's suggestion resolves your issue, right?

[2020-08-03 07:41] musm opened #939 "Add back links to portable builds on Windows"
I don't see which PR removed them, but we should add them back.

[2020-08-03 08:33] tlienart commented on #939
hey @musm do you have a link (e.g. from wayback machine) showing what was there before that was removed? that will help bring stuff back asap, thanks!

[2020-08-03 08:35] musm commented on #939
THey all look like this https://github.com/JuliaLang/www.julialang.org/commit/d25e90a662637fc3c74cfe0f5f2e1808b9663d0a

Just replace the .exe name with with .zip.

[2020-08-03 08:49] tlienart opened #940 "Revert or fix one of the recent PR to Downloads"
It seems that a  bunch of things disappeared from the downloads page in a recent PR:

* windows portable links -- PR #901 but then #939
* musm/glibc linux footnote -- PR #931 but now I can just see the footnote but not the reference to  the footnote (nor the download link with musm/glibc differentiation)

was that on  purpose?

cc @musm @ViralBShah @logankilpatrick

[2020-08-03 08:52] musm commented on #940
Did someone force push? That's the only explanation I can think of.

[2020-08-03 09:52] fredrikekre commented on #940
No, it was merged in #937

[2020-08-03 11:26] #939 closed

[2020-08-03 11:26] #940 closed

[2020-08-03 17:53] zdroid commented on #615
Is this still an issue? I installed Julia 1.4.2 and 1.5.0 on Windows a few times recently and instructions worked out of the box.

[2020-08-03 17:54] zdroid commented on #800
@tlienart Last two items from front-page specific should be checked.

[2020-08-03 17:58] zdroid opened #943 "Microbenchmarks in "Easy to use" section"
From the front page:

I am wondering why are microbenchmarks linked there. Even if the microbenchmarks file does what it was supposed to do (according to that text), it was last updated 2 years ago. A new user seeing something like that may think that this project has since been abandoned, and move on. Is there something better to put in place of that link?

[2020-08-03 18:07] zdroid commented on #908
@christopher-dG Can you open a PR to fix that?

@keithbriggs There is no package for 18.04, as you can see on https://packages.ubuntu.com/search?keywords=julia. That package is unofficial nevertheless. There even wasn't a release for 1.4.2, and it'll probably some time for 1.5.0 too.

[2020-08-03 20:48] ViralBShah commented on #943
We should probably link to some code that is actually on the website rather than a github page.

[2020-08-04 13:34] ChrisRackauckas opened #946 "Update website video playlist to JuliaCon 2020"
Pretty self-explanatory.

[2020-08-04 21:52] ViralBShah commented on #946
Yeah... Must do. Urgently.

[2020-08-04 23:06] logankilpatrick commented on #946
Will fix tonight unless I'm beat to it.

[2020-08-07 01:47] logankilpatrick commented on #946
Sort of fixed via: 117e125... Did last year's data get generated somewhere? I don't have the bandwidth at the moment to manually copy and past 165 URL's

[2020-08-07 03:10] ViralBShah commented on #946
Don't we have a spreadsheet with all the YouTube URLs @aviks ?

[2020-08-07 03:39] logankilpatrick commented on #946
Ah, yes we do. Good call.

Best,
Logan Kilpatrick

[2020-08-14 13:01] tlienart opened #955 "[sugg] packages of the month"
I keep discovering packages everywhere and I often wish there'd be a place where I could regularly go to check out interesting packages. Of course there's the discourse ANN and then there's juliahub, juliaobserver etc but that will give an idea of new packages or will work if you know what you're looking for.

It might not be too hard to automatically generate a list of packages every month out of

[2020-08-14 16:15] ViralBShah commented on #955
I wouldn't mind have a monthly list of all new packages registered in that month, sorted by stars or some metric. If we recommend common tags for the package ecosystem for packages to use on github, then we can just use those for the grouping too.

[2020-08-14 20:23] tlienart commented on #955
Hmm but then new users would potentially only see new packages?

[2020-08-14 20:42] logankilpatrick commented on #955
Maybe this could be added to the JC monthly newsletter and I'll include it in our NF newsletter as well. Only thing that remains is discovering the packages.

[2020-08-14 20:45] giordano commented on #955
I believe R has something like that, could be useful lookin how it works

[2020-08-14 21:08] ViralBShah commented on #955
Yes, we can definitely add to the monthly newsletters.

@aviks @pfitzseb

[2020-08-15 12:22] pkalikman opened #956 "{{stable_release}} substitutes with patch number but patch number is not in path on MacOS"
As a result this instruction

`ln -s /Applications/Julia-1.5.0.app/Contents/Resources/julia/bin/julia /usr/local/bin/julia`

on

https://julialang.org/downloads/platform/#macos

is incorrect--the right path is `.../Julia-1.5.app/...`, at least on my MacOS Catalina machine.

Apologies that I don't know how to format that token or I'd submit the PR to fix myself :)

[2020-08-15 12:25] fredrikekre commented on #956
You can probably just change `{{ stable_release }}` to `{{ stable_release_short }}` in https://github.com/JuliaLang/www.julialang.org/blob/master/downloads/platform.md.

[2020-08-15 12:26] pkalikman commented on #956
Thanks! Will try this.

[2020-08-15 12:41] #956 closed

[2020-08-17 13:01] KristofferC opened #959 "Copy-paste instructions for Linux/FreeBSD don't work."
Trying it locally on a new linux distro:

**First line**

[code]

Guess I will change it to `1.5`? Ok then it downloaded.

**Second line**

[code]

works

**Third line**

[code]

guess I create it? Let's try again:

[code]

doesn't work.

cc @ViralBShah, @ChrisRackauckas

[2020-08-17 14:14] fredrikekre commented on #959
#960 took care of 1.

[2020-08-17 16:23] ViralBShah commented on #959
Instead of the `.local/bin`, about we just ask users to do `~/julia-<release>/julia`?

[2020-08-17 16:57] fredrikekre commented on #959
The whole point of the instruction is to make `$ julia` work though?

[2020-08-17 18:27] ViralBShah commented on #959
Isn't that hard without root? It seems that `~.local/bin` is not common at all. And going into /usr/local/bin requires root. We could provide instructions for adding to $PATH.

[2020-08-21 16:52] logankilpatrick opened #962 "Add Details on How to become a Steward"
Hey @StefanKarpinski @ViralBShah @mbauman

I think it would be great to publicize how to become a Discourse mod and how one becomes a Julia Language steward.

CC @jiahao for suggesting the idea.

[2020-08-21 19:01] ViralBShah opened #963 "2020 user and developer survey blog post"
Looking for help to put this up as a julialang blog:

https://docs.google.com/document/d/1eTupgIJen2afxK_1p2wNxDx-qaybXGiqgXy22JDXkQ8/edit?usp=sharing

And link to the presentation itself in the blog too: https://julialang.org/assets/2020-julia-user-developer-survey.pdf

[2020-08-23 20:28] #959 closed

[2020-08-23 20:45] #908 closed

[2020-08-23 21:34] ViralBShah commented on #757
I feel that it is simpler to have a Julia package to parse the XML at https://julialang-s3.julialang.org/ in a structured way (since naming conventions may have changed over time).

Do we need more than that?

[2020-08-23 21:38] ViralBShah commented on #529
Not much to do here for now.

[2020-08-23 21:38] #529 closed

[2020-08-23 21:41] ViralBShah commented on #506
With the new pkg server stuff, we should be able to get per package stats. I know the pkg folks are thinking about publishing these.

@staticfloat @StefanKarpinski @fredrikekre Anyone else?

[2020-08-23 21:45] ViralBShah commented on #690
Bump. Help appreciated here.

[2020-08-23 21:46] ViralBShah commented on #681
Bump @dpsanders

[2020-08-23 21:46] ViralBShah commented on #752
Bump @logankilpatrick

[2020-08-23 23:11] ViralBShah commented on #800
I think a major next step is to overhaul the ecosystems. People (newcomers) often want to know what is a good set of well-tested robust packages for basic capabilities. And the ecosystems needs to point to that.

I think on the main page, this should translate into a collection of org logos, which when clicked take one to a page in `ecosystems/` about that org that list the solid packages, the exp

[2020-08-23 23:20] ViralBShah commented on #805
The community page is now community focussed and redesigned. The ecosystem page as discussed in #800 should evolve into the package related stuff discussed in OP. I am closing this one for now.

[2020-08-23 23:20] #805 closed

[2020-08-23 23:53] ViralBShah commented on #615
Closing since this seems to be verified and working. Let's reopen if necessary

[2020-08-23 23:53] #615 closed

[2020-08-23 23:54] ViralBShah commented on #590
Let's continue this in #926

[2020-08-23 23:54] #590 closed

[2020-08-23 23:54] ViralBShah commented on #963
#964 does this.

[2020-08-23 23:54] #963 closed

[2020-08-23 23:55] ViralBShah commented on #856
We have the alert on top as well as the random JuliaCon video now.

[2020-08-23 23:55] #856 closed

[2020-08-23 23:57] ViralBShah commented on #872
I think the way to do this is to perhaps set up a google sheet and advertise heavily on discourse and slack and see how many people sign up. If we can get about a hundred or so orgs going, it may be worth having something on the website. Otherwise, a sparse list is worse than no list.

[2020-08-23 23:58] ViralBShah commented on #760
Is this relevant for GSOD?

[2020-08-23 23:59] ViralBShah commented on #855
Isn't https://julialang.org/learning/code-examples/ sufficient? Maybe we can add more examples there?

[2020-08-24 00:00] ViralBShah commented on #646
QuantEcon has very nice cheatsheets for Julia/Python/matlab : https://cheatsheets.quantecon.org/

[2020-08-24 00:01] ViralBShah commented on #646
I don't think we have cheatsheets any more - so may be we should introduce these two links somewhere. Maybe on the "Getting Started with Julia" page.

[2020-08-24 00:02] ChrisRackauckas commented on #646
I think we should just link the QuantEcon one. They spent a lot of time and it's really good.

[2020-08-24 00:10] ViralBShah commented on #646
It should go here: https://julialang.org/learning/getting-started/

[2020-08-24 00:10] ViralBShah opened #967 "Major update needed for the "Getting started with Julia" page"
This needs a major update: https://julialang.org/learning/getting-started/

[2020-08-24 05:16] tlienart commented on #690
I imagine a few of those are not relevant anymore, would be good to re-run the script (bottom of readme, I'm on my phone now so I can't do it but can try later)

[2020-08-24 12:35] ViralBShah opened #969 "Blog doesn't render on localhost"
@tlienart When I run the Franklin server locally to test, the blog doesn't work right. Only the Julia-1.5 highlights post and the Yao post can be clicked on localhost:8000. The rest all say that the page does not exist.

But everything works fine on julialang.org.

[2020-08-24 14:35] ViralBShah commented on #855
I am going to say it is sufficient, and there's a getting started with Julia page. If anything, these existing things need to be combined and made seamless. (#967)

[2020-08-24 14:35] #855 closed

[2020-08-24 14:35] ViralBShah commented on #967
Refers to a very old version of Julia. Also, we probably want to recommend VS Code nowadays instead of Atom. Should also probably refer to the updated ecosystems page that we prepare in #800

[2020-08-24 14:50] logankilpatrick commented on #967
I'll take a crack at this sometime during the week.

[2020-08-24 17:00] tlienart commented on #969
am having a look now

[2020-08-24 18:21] ViralBShah commented on #969
I also noticed the website pulling in a bunch of stuff. I have been just doing simple PR merging for the most part. I did update to Franklin 0.9, which may be where I am seeing this. Maybe the deployment is unaffected because it is on the older version.

[2020-08-25 08:25] tlienart commented on #969
I can reproduce; it's a bug. I'll try to fix it asap once I've figured out what's going on. thanks for reporting and apologies for the nuisance... good that the deploy is fixed on 0.8 atm

[2020-08-25 10:06] tlienart commented on #969
Is fixed in `0.9.10`; will open and merge directly a PR that does a slight update of the scripts here.

[2020-08-25 10:54] #969 closed

[2020-08-25 15:42] ViralBShah commented on #969
Should we deploy 0.9.10 to production as well?

[2020-08-25 16:20] tlienart commented on #969
it's already done

[2020-08-26 13:12] PallHaraldsson opened #971 "Close to 4200 packages"
https://juliacomputing.com/

still only states over 3,500 packages. I brought it up elsewhere, but not sure where else to point it out. I would like it updated too, not just at julialang.org (and keep in sync).

I.e. with the packages waiting in queue, close to 4200. Not saying wait for that or we need to use that number. I'm ok with "over 4000", or a higher one if you want...

[2020-08-26 13:14] fredrikekre commented on #971
Perhaps email JuliaComputing support then.

[2020-08-26 13:14] #971 closed

[2020-08-26 13:16] logankilpatrick commented on #971
I would ping the folks at JC. We could also pretty easily scrape JuliaHub for this info and populate the number dynamically though I'm not sure if it's worth the effort. @StefanKarpinski perhaps you can make a Julia Computing website issues repo like this one: https://github.com/JuliaComputing/JuliaProIssues

[2020-08-26 13:25] PallHaraldsson commented on #971
I already emailed, well through their box at juliacomputing, and pointed to this (closed) issue. I'm not trying to make (programming) work for you, I tend to make PRs here, maybe I could ping someone each time, in cases like this, where it applies? I realize julialang.org is independent, I've just seen many of the same people here.

[2020-08-26 13:28] KristofferC commented on #971
There is no point in making issues about juliacomputing.com on this repo at least.

[2020-08-26 13:30] logankilpatrick commented on #971
No worries @PallHaraldsson, hopefully, Stefan can make that public-facing issues repo as he did for JuliaHub and JuliaPro!

[2020-08-26 14:15] StefanKarpinski commented on #971
Just email <info@juliacomputing.com> if you have suggestions. Note that I created the JuliaProIssues repo and there haven't been any issues filed so far. I don't think it makes sense to have issues repos for everything that someone might want to give feedback about, especially things that aren't applications.

[2020-08-26 17:05] PallHaraldsson opened #972 "FYI: eu-central unreliable"
I was getting hangs previously, and now the two issues below:

[code]

If you think this isn't on your end then just close.

[2020-08-26 20:05] ViralBShah commented on #972
I wonder what the right place is for filing issues related to the Pkg server. I don't think we should file them here- but I also don't know where they should go.

[2020-08-26 20:09] giordano commented on #972
https://github.com/JuliaPackaging/PkgServer.jl

[2020-08-26 20:23] fredrikekre commented on #972
Please include what operations you did to get the time out. FWIW, the server works perfectly fine for me.

[2020-08-26 20:23] #972 closed

[2020-08-27 19:20] #853 closed

[2020-09-09 15:42] logankilpatrick opened #979 "Build a better and complete contributing guide"
This will include sections for:
 - Technical
 - Non-technical
 - Fiscal
etc.

[2020-09-09 17:16] ViralBShah commented on #979
How is this different from #760?

[2020-09-09 18:42] logankilpatrick commented on #979
I forgot I opened that. They are the same idea and one should be closed.

[2020-09-09 18:42] #979 closed

[2020-09-11 12:52] #946 closed

[2020-09-14 07:33] fredrikekre opened #986 "Franklin 0.9.14 messed up all code"

[2020-09-14 20:14] #986 closed

[2020-09-16 14:50] philipbest opened #990 "Upcoming book entry"
###Upcoming Julia Book
Philip Best __Julia in Action__. Manning Publications, July 2021.

[2020-09-16 15:05] ViralBShah commented on #990
Please submit a Pull Request when the book is published.

[2020-09-16 15:05] #990 closed

[2020-09-18 21:45] zlatanvasovic commented on #814
Closing this in order to close my own issues, but you can open a new one if it's still a problem.

[2020-09-19 10:26] zlatanvasovic commented on #814
@fredrikekre do you even read what I wrote? :/

[2020-09-19 10:40] fredrikekre commented on #814
https://github.com/JuliaLang/www.julialang.org/issues/814#issuecomment-660371403

[2020-09-19 12:47] ViralBShah commented on #814
@zlatanvasovic please do not open and close issues like this. It creates a lot of noise. If it bothers you, we are happy to close this but I will request you to refrain from opening new issues.

[2020-09-19 12:57] KristofferC commented on #814
There is discussion here that is good to have kept.

[2020-09-19 13:00] ViralBShah commented on #814
Yes, we can link it from a new issue and even summarize it in there - but clearly @zlatanvasovic wants to close this and I would prefer not to create more noise for him.

[2020-09-19 13:06] #814 closed

[2020-09-19 13:07] ViralBShah opened #992 "Need to automatically generate sitemap"
As discussed in #814 let's automatically generate the sitemap.

Ongoing work in https://github.com/tlienart/Franklin.jl/issues/491

[2020-09-20 23:06] Roger-luo opened #993 "provide some compatible links to old assets?"
I realize this repo changed some of its asset names recently, which as a result breaks a bunch of README, doc images, e.g https://github.com/JuliaLang/julia/blob/master/doc/build/README.md the Julia logo is not there anymore. Thus I'm wondering if we could consider

1. create a tag in the future? so some of the links won't be broken.
2. make some of the assets link more stable? or consider move al

[2020-09-20 23:10] logankilpatrick commented on #993
There already is a separate repo for the Julia Logos and we should most definitely link there rather than here IMO.

[2020-09-20 23:30] giordano commented on #993
It doesn't use an image from this repository anymore: https://github.com/JuliaLang/julia/pull/37627

[2020-09-20 23:53] Roger-luo commented on #993
Should this website also uses julia-logo-graphics as well then?

[2020-09-21 03:00] ViralBShah commented on #993
Yes, I think so.

[2020-09-21 07:30] asmarcz opened #995 "JuliaOpt is dead, should provide link to different project"
Ecosystem -> Scientific Domains

[2020-09-21 12:00] ViralBShah commented on #995
The website is still live and in process of migration to http://jump.dev

[2020-09-21 18:38] PROinALL opened #996 "Wrong link to the MIT fall 2020 page"
Fix the MIT fall 2020 link on the top of the website.
Wrong (current): https://computationalthinking.mit.edu/Fall20/
Right (needed): https://computationalthinking.mit.edu/fall20/

[2020-09-21 18:40] #996 closed

[2020-09-21 18:40] logankilpatrick commented on #996
Feel free to PR this and I can merge.

[2020-09-23 14:25] PROinALL opened #999 ""teaching julia at mit" link at the very top of the julialang.org is broken again"
wrong link (current): https://computationalthinking.mit.edu/fall20/
right link (needed): https://computationalthinking.mit.edu/Fall20/

[2020-09-23 14:26] #999 closed

[2020-09-23 14:26] logankilpatrick commented on #999
It's working right now, thanks for reporting.

[2020-09-24 01:36] ViralBShah commented on #999
Damn it - it changed twice. @shashi why does this URL keep changing?

[2020-09-24 02:33] shashi commented on #999
It did not change twice, it was wrong here.

[2020-09-24 16:47] ViralBShah commented on #999
It certainly did. I personally saw the 404 and changed Fall20 to fall20 and then it had to be changed back.

[2020-09-25 13:38] Keno opened #1009 "Add "about the author" section for blogs?"
On multi-author blogs, I think it's common to have a short "about the author" blurb at the end, e.g. (just taking the first one I found via HN):

https://blogs.embarcadero.com/bold-for-delphi-is-open-source/

<img width="766" alt="Screen Shot 2020-09-25 at 9 36 55 AM" src="https://user-images.githubusercontent.com/1291671/94273722-c7838180-ff12-11ea-9117-0a2c21f00725.png">

I think that would be a

[2020-09-25 17:27] Keno commented on #992
Also, Google complains that this is in the sitemap, but 404s: https://julialang.org/jsoc/gsoc/mlj/

[2020-09-25 17:56] Keno opened #1012 "Add fastly cache purge to deployment step"
Right now, changes to the website don't really get reflected quickly, because we're fronted by fastly. One can manually `curl -X PURGE` it to fix that, but it's not a great solution. Ideally, the deployment step, but build both the old and the new version, diff it and then purge any pages that changed. If that's too complicated, we can probably just do a global fastly purge also.

[2020-09-25 19:40] shashi commented on #999
https://github.com/mitmath/18S191/commit/c1a6867f864e4a31624c01e396db70259526148b --> https://github.com/mitmath/18S191/commit/c4f3fdbb68251d3bdb5706557031c49976ba93f0

 ^--- it wasn't me. :man_shrugging:

[2020-09-25 20:56] ViralBShah commented on #999
That's cool - but people notice it in minutes and file issues.

[2020-09-26 00:29] tianon opened #1013 "julia-1.5.2-win64.exe republished?"
Hi again! :wave: :heart:

It looks like `julia-1.5.2-win64.exe` was recently (sometime in the last ~7 hours) reuploaded with a different checksum -- was this intentional?

I can't find a reference to it anywhere -- apologies if it's already mentioned somewhere and I've missed it!

(https://github.com/docker-library/julia/commit/3d1e79c)

[2020-09-26 00:33] DilumAluthge commented on #1013
@staticfloat

[2020-09-26 00:35] giordano commented on #1013
My understanding is that a new binary with signing fixed has been uploaded: https://discourse.julialang.org/t/julia-v1-5-2-has-been-released/47181/11

[2020-09-26 02:27] staticfloat commented on #1013
Yes, that is correct! We apologize for the noise. We update the official checksum files at the same time, which is the best way to ensure that you’re getting what we intend you to receive, but we’re always happy to confirm.

[2020-09-26 02:29] tianon commented on #1013
Rock on, thanks for confirming! 👍

[2020-09-26 02:29] #1013 closed

[2020-09-27 13:10] #992 closed

[2020-09-27 17:57] logankilpatrick opened #1017 "Make the headings on the community page links"
I want to be able to link to specific headings on the community page. We should add this in.

[2020-09-27 17:58] logankilpatrick opened #1018 "Make the community calendar show each users local time zone"
Right now the calendar shows the time defaulted to UTC, we should have it display the local time zone of each user visiting the site.

[2020-09-27 19:19] ViralBShah commented on #1017
Can do it the same way as: https://julialang.org/downloads/platform/#linux_and_freebsd

[2020-09-27 19:44] devil-cyber commented on #1018
Can i work on this

[2020-09-27 21:55] logankilpatrick commented on #1018
Sure!

[2020-09-28 03:47] devil-cyber commented on #1018
thanks

[2020-09-28 04:35] devil-cyber commented on #1018
I am working on this issue

[2020-09-28 06:23] devil-cyber commented on #1018
@logankilpatrick can you please prove me some insight on how to start after cloning the repo

[2020-09-28 12:40] logankilpatrick commented on #1018
You can open it in an IDE and then do `using Franklin; serve()` to get the site running locally. Then you need to figure out how to make this work in the time zones.

[2020-09-28 13:42] devil-cyber commented on #1018
thanks already done Julia and franklin had a great documentation

[2020-09-30 21:34] Keno opened #1022 "Add `Article` structured data to blog posts"
See: https://developers.google.com/search/docs/data-types/article

[2020-09-30 21:50] Keno opened #1023 "Drop jQuery/Bootstrap from pages that don't need them"
We indiscriminately include jQuery/Bootstrap on every page. I do not believe (and neither does Google's performance assesment, which is what I was looking at) that we're actually using them on most pages. We should drop them if we don't to improve site performance.

[2020-09-30 21:59] Keno opened #1025 "Optimize images"
It would be nice to automatically optimize images during pre-processing. In particular, on the blog, we always limit images to 690px wide, so we should probably pre-process images that have that resolution, to avoid having to transfer the large originals. For bonus points, process a few extra versions for common mobile resolutions. We can use the `srcset` `<img>` attribute to specify multiple vers

[2020-09-30 22:12] Keno opened #1026 "Turn on fastly gzip compresison for asciinema casts"
They end in `.cast`, which is not on our fastly gzip whitelist. I don't see any reason not to serve them compressed, so I'm gonna turn it on, unless @staticfloat thinks its a bad idea for whatever reason.

[2020-09-30 22:17] Keno opened #1027 "Use AMP for blog pages"
Our blog pages are simple enough that it seems like it should be trivial enough to AMP-ify them, which would make them eligible to appear in the top carousel of search results.

[2020-10-01 00:14] staticfloat commented on #1026
Seems fine to me.

[2020-10-01 01:50] ViralBShah commented on #1027
@tlienart Should we have a franklin label for improvements to Franklin?

[2020-10-01 01:59] Keno commented on #1026
Added `.cast` to the gzip extensions, as well as the `application/x-asciicast` mime type and activated as Version 20 on fastly.

[2020-10-01 08:00] tlienart commented on #1027
But... isn't AMP evil? 🙀

Jokes aside, @ViralBShah yes a label sounds good, and I can link to relevant issues. Re AMP-ifying, I don't know what's involved, at what stage (pre or post build) or how easy this is so I need to do some research.

[2020-10-01 12:26] ViralBShah commented on #1027
:-)

Added a few `franklin` labels, but may not be always correct.

[2020-10-01 12:28] tlienart commented on #1027
So from a short amount of research it looks really easy to do, it's mostly a templating thing where you add specific stuff on the pages so that Google can cache them more easily (https://amp.dev/documentation/guides-and-tutorials/start/create/basic_markup/?referrer=ampproject.org) I'll try to give that a shot soon for blog pages.

[2020-10-01 12:33] tlienart commented on #1023
hmm as far as I'm aware every page has the menu bar (e.g. mobile), and the menu bar requires bootstrap + jQuery. No doubt there could be a slimmed down version (for bootstrap it's reasonably easy to do for jQ not sure) but it's typically not trivial to adjust these things. If someone versed in web dev could give it a shot, that'd be great (i.e.:

* [ ] review the menu and see whether it could be r

[2020-10-01 12:39] tlienart commented on #1025
Maybe a pragmatic approach here is to have a set of guidelines for blog writers that would be kept in a `BLOG-CONTRIBS.md` and that would be reviewed in the PR process.

Doing this automatically for all existing blog pages is likely to break a lot of stuff but I guess we could do a `du -sh` in `/_assets/` and hunt down the woolly mammoths.

[2020-10-01 12:40] tlienart commented on #1018
as explained in PR #1024 I don't think Franklin can help here, it needs to be resolved at visit time, something like http://www.onlineaspect.com/2007/06/08/auto-detect-a-time-zone-with-javascript/

[2020-10-01 12:53] devil-cyber commented on #1018
Can we used javascript to fetch timezone from client browser

On Thu, Oct 1, 2020, 6:11 PM Thibaut Lienart <notifications@github.com>
wrote:

[2020-10-01 12:57] tlienart commented on #1018
did you check out the two links?

[2020-10-01 12:59] devil-cyber commented on #1018
Yes i checked that

On Thu, Oct 1, 2020, 6:27 PM Thibaut Lienart <notifications@github.com>
wrote:

[2020-10-01 13:15] tlienart commented on #1018
I'm a bit unclear on whether you still have a question or not. Assuming you do and your initial question was "how do you add javascript to a page" then you just add something like this on a markdown file

[code]

or something like this in the `layout/head.html`

[code]

[2020-10-01 13:17] devil-cyber commented on #1018
Ok

On Thu, Oct 1, 2020, 6:45 PM Thibaut Lienart <notifications@github.com>
wrote:

[2020-10-01 18:49] #1026 closed

[2020-10-01 20:19] PseudoCodeNerd commented on #1017
Hey!
This issue still persists and I can work on it. Can I get assigned?
Thanks

[2020-10-01 20:29] logankilpatrick commented on #1017
Sure, feel free to tackle this. I can assign later tonight.

[2020-10-07 13:31] #1017 closed

[2020-10-09 09:54] asmarcz commented on #995
Well, I just wanted to report this as it doesn't put a good impression on someone - like me - who is learning about Julia for the first time. I cannot really resolve the context.

[2020-10-09 12:59] ViralBShah commented on #995
@logankilpatrick Is this something you can update?

[2020-10-09 13:29] #995 closed

[2020-10-09 13:31] logankilpatrick commented on #995
Fixed, thanks for reporting!

Best,
Logan Kilpatrick

[2020-10-09 14:18] dillir07 commented on #775
I believe its due to any addon/extension that changes the background. Ex: I use [DarkReader](https://darkreader.org/) in firefox.

![Darkreader in firefox](https://user-images.githubusercontent.com/47918989/95594159-3101a500-0a68-11eb-96c4-a408251f616d.png)

[2020-10-09 14:21] Keno commented on #775
I don't suppose there's a way to detect extensions like this and automatically provide a dark mode logo?

[2020-10-09 14:24] Keno commented on #775
Apparently there's now a CSS media query for dark mode preference: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme. That seems like something we could definitely support.

[2020-10-09 18:20] cormullion commented on #775
I'd added a similar issue to Documenter.jl - https://github.com/JuliaDocs/Documenter.jl/issues/1320 - in case someone wanted to make the switch automatic.

[2020-10-10 07:23] dillir07 commented on #775
This may not be anywhere near the solution, but just out of curiosity I modified julia's black color in svg. It's same svg and looks okay in both light & dark background.
![julia light dark](https://user-images.githubusercontent.com/47918989/95648777-8042e680-0af7-11eb-8f16-d96c043ba91a.png)

[2020-10-10 13:48] ViralBShah commented on #775
The JuliaLogoGraphics repo has official logos for dark background.

https://github.com/JuliaLang/julia-logo-graphics

[2020-10-18 17:30] PeterNorlindh opened #1047 "The best installation instruction is missing :P"
I've been struggling to install Julia properly on Linux. This almost kept me from adopting Julia at all, and has made me reluctant to upgrade to new releases. Until I came across this suggestion in a forum post:

sudo ln -s home/user/path/to/julia/bin/julia /usr/bin/julia

Adding the path to /usr/bin was really easy and works like a charm. I can't seem to find this among the alternatives mentioned

[2020-10-18 17:34] logankilpatrick commented on #1047
Feel free to open a PR with this updated info and include some screenshots of the behavior working in the PR if possible.

[2020-10-18 20:05] ViralBShah commented on #1047
It is generally not recommended to link binaries in `/usr/bin/julia`. The common thing is `/usr/local/bin` but it is not guaranteed that all linux users have /usr/local/bin in their PATH.

[2020-10-19 03:09] LUISSMR opened #1048 "Add Julia teaching activities at University"
Hi, I would like to add Julia teaching activities at Academia Politécnica Militar (Chile) based on two courses:
- System Engineering Design (Spring 2020)
- Operational Research (Fall 2020)

Both taugh by Prof. Luis San Martín.

Best wishes

[2020-10-19 03:36] logankilpatrick commented on #1048
Hey! Thanks for including this info. Please make a PR to the respective file for this with the required info so we can get these courses added. Thanks!

[2020-10-19 09:41] timholy commented on #1047
Your best answer is to add `/home/user/path/to/julia/bin` to your personal `PATH` environment variable, and that's already documented. Did it not work for you? Did you forget the leading `/`? (You did in your OP.)

[2020-10-25 08:51] apparluk commented on #690
`lynx -dump https://julialang.org/blog/2012/02/why-we-created-julia/index.html`

[code]

[2020-10-26 00:23] apparluk commented on #1047
I've upgraded three times in the last year.

I repackage for my Linux distribution the precompiled download.

But if `/opt` is not otherwise being used one could manually install like this.

For 64-bit substitute julia-1.5.2-linux-x86_64.tar.gz in the following.

[code]

Then for `/etc/profile.d` create an executable that is read on startup.

[code]

To uninstall julia-1.5.2 run the following.

[c

[2020-10-26 00:41] apparluk commented on #1047
your `ln` command creates link in `/usr/bin` to a file with other perms than are used in `/usr/bin`

[2020-10-26 01:57] ViralBShah commented on #1047
I should also point out that many people do not upgrade Julia, but install new versions of Julia to co-exist with older ones.

[2020-10-26 04:43] apparluk commented on #1047
One can also `source` a file to load variables; `.` is a bash shorthand for the `source` builtin.

[code]

[2020-10-26 07:57] apparluk commented on #1047
@ViralBShah

This would be more concise and less verbose.

[Linux and FreeBSD
](https://julialang.org/downloads/platform/#linux_and_freebsd)
The following downloads and installs the latest Linux x86_64 version of Julia.

[code]
The `ln`command can be substituted with setting `$PATH` in shell customization files or sourced from a flat file.

The above installs all files in a single tree, the symlin

[2020-10-26 08:36] tlienart opened #1059 "PR Previews are failing?"
cc: @logankilpatrick @DilumAluthge

Logan pinged me with this: https://github.com/JuliaLang/www.julialang.org/runs/1306261381

it seems the docker build is failing:

[code]

No idea what's going on there? I tried re-launching the job to check it's not just a glitch

[2020-10-26 12:34] DilumAluthge commented on #1059
This should have been fixed with https://github.com/JuliaLang/www.julialang.org/pull/1058

Can you try making a new PR to see if you can reproduce?

[2020-10-26 12:51] logankilpatrick commented on #1059
It seems to be working now!

Best,
Logan Kilpatrick

[2020-10-26 13:15] #1059 closed

[2020-10-26 14:14] ViralBShah commented on #1047
You can also use the `jill` scripts that folks are maintaining for this. I think we list them somewhere on the platforms pages.

[2020-10-27 08:23] apparluk commented on #800
A more minimalist Home page.

![julialang](https://user-images.githubusercontent.com/52227507/97273213-54339f00-1833-11eb-838f-ee29b6da2498.png)

The coloured circles are shifted to the left to fit in a smaller horizontal image.

See this [webpage](https://nurmi-labs.blogspot.com/) for a true perspective and better header font.

The 16x16 pixel .gif files are about 70 bytes each as opposed to expo

[2020-10-27 11:51] cormullion commented on #800
Minimalist designs are cool and can be fun, but the downside is the challenges they pose for accessibility and discovery. Hover text can be difficult to get right on both desktop and mobile. The tiny images are good, but bigger downloads are just around the corner, so it may not save much bandwidth in the long run.

A change in branding would be a fun discussion! 😃 I think the use of those four co

[2020-10-27 20:33] apparluk commented on #800
The four coloured circles would only appear on the Home page.

http://okmij.org/ftp/

[right aligned] Text would substitute for the 4 circles on other pages.

http://okmij.org/ftp/Computation/index.html

previous next start top

http://okmij.org/ftp/Computation/IO-monad-history.html

previous next up top

I do not propose however using a sidebar.

[2020-10-27 20:57] cormullion commented on #800
I think those are possibly the dullest web pages I've ever seen. 😂 Probably not the sort of thing to get people excited about Julia...

[2020-10-27 20:58] apparluk commented on #800
With a minimalist site attention could be allocated to the printed manual.

Rich Stevens' [books](http://www.kohala.com/start/) being suggested as regards structuring and design.

[2020-10-27 22:21] apparluk commented on #800
This is preferable to candy floss.

- Tools
  - [Debugger](https://github.com/JuliaDebug/Debugger.jl)
  - [GPUs](https://juliagpu.org/)
  - [Profiler](https://docs.julialang.org/en/v1/manual/profile/)
  - [Revise](https://github.com/timholy/Revise.jl)

[2020-10-28 09:46] ashwani-rathee opened #1063 "Including more standard-code examples"
I saw this page : https://julialang.org/learning/code-examples/
which seems rather weird to just see mandelbrot example in repl.it which leads to 8-10 examples more @logankilpatrick
I have used repl.it for pretty long time and used to it,I would love to add more code examples(as a practice of learning julia for me).

[2020-10-28 09:52] ashwani-rathee commented on #690
So all the errors are left to be worked on (after chunk 4),right??

[2020-10-28 09:55] ashwani-rathee commented on #646
We still need our own cheatsheet??or the QuantEcon(they are pretty good actually) would work??

[2020-10-28 10:04] tlienart commented on #690
yes that's correct; this list might be a bit outdated now but basically the steps are:

1. is the faulty link still there?
2. if (1), is there an alternative link that works?
  1. yes --> change it in a PR (ideally do multiple links per PRs though maybe at most 20-30 to facilitate reviewing)
  2. no --> remove the link

that's about it; then we should re-run the tool to see if there are any stray

[2020-10-28 17:40] ViralBShah commented on #646
Use the existing ones. Here's a list the MIT class is using: https://computationalthinking.mit.edu/Fall20/cheatsheets/

[2020-10-29 17:10] ashwani-rathee commented on #967
Hey,would it be okay if I try some kind of mix of this:https://golang.org/doc/tutorial/getting-started ,https://www.ruby-lang.org/en/documentation/quickstart/, and the orginal version of getting started of julia(which I checked is kind of loosely based on python getting started article) here..with few more plots

[2020-10-29 17:55] ViralBShah commented on #967
go for it

[2020-10-29 18:46] fwip opened #1065 "Downloads page instructions broken (template rendering error?) for MacOS & Linux Official Binaries"
When visiting the page https://julialang.org/downloads/platform/, the instructions for downloading the binaries do not seem to be properly substituting in the versions for `{{stable_release_short}}` or `{{ stable_release }}`. This makes it real difficult to figure out the URLs to download.

This appears to affect both the macOS and Linux&FreeBSD instructions.

As a guess, is the template not evalu

[2020-10-30 08:40] #1065 closed

[2020-10-31 01:40] apparluk commented on #800
_cf_: https://github.com/JuliaLang/www.julialang.org/issues/800#issuecomment-717072437

A 'JuliaLang/julia.github.io' repo could be created and described as a 'draft'.

[2020-11-01 12:57] PeterNorlindh commented on #1047
Thanks for your feedback :) I have no strong opinions on the matter, and frankly know almost nothing about it. But I think I'll stick to the suggestion I found in that forum post until I run into issues with it :)

[2020-11-01 12:57] #1047 closed

[2020-11-08 16:10] KristofferC opened #1070 "Links in the diversity section goes to empty pages or nowhere"
The links here https://julialang.org/diversity/current/ leads to empty pages.

In https://julialang.org/diversity/ideas/, the link to ASL interpretation goes nowhere.

Perhaps they should just be listed and not have links until there is any content for them.

[2020-11-08 16:11] logankilpatrick commented on #1070
Was hoping folks would have had the chance to update the details for their projects by now but if these don't get updated soon, we can revert to just a list.

[2020-11-08 16:42] StefanKarpinski opened #1073 "Legal page"
[This page](https://julialang.org/legal/) should probably have some kind of legal statement. Otherwise the page should be deleted and removed from the footer table.

[2020-11-08 16:45] ViralBShah commented on #1073
It should be deleted from the footer.

[2020-11-08 16:47] ViralBShah commented on #1070
We should not set up empty links with the hope that someone will populate them. Since people get busy and such, it is usually better to get the content ready and up first, and then set up a link.

[2020-11-08 16:58] logankilpatrick commented on #1073
Aren't we required to have some sort of privacy policy list here? We are using Google Analytics which collects cookies I assume

[2020-11-08 17:00] logankilpatrick commented on #1070
That's fair, will update them to a normal list this weekend.

[2020-11-09 00:11] ViralBShah commented on #1073
Sure. Somebody needs to get a draft going. Maybe the quickest thing is to check with NF if they have something we can use to start from? But let's not link a 404 legal page until we have the privacy policy up.

[2020-11-20 03:14] DhairyaLGandhi opened #1086 "Try Julia repl does not load reliably"
https://julialang.org/learning/tryjulia/ has a fairly old (at this time!) version of Julia (1.3.1). Can that be updated?

[2020-11-20 03:52] logankilpatrick commented on #1086
I had had a PR open for this for months. https://Repl.it went into performance/stability mode and stopped merging PR's for things like language updates for the time being.

[2020-11-20 03:54] logankilpatrick commented on #1086
See here: https://github.com/replit/polygott/pull/89

[2020-11-29 14:20] ronisbr opened #1094 "Test issue"
Just testing.

[2020-11-29 14:24] logankilpatrick commented on #1094
Can you try one more time

[2020-11-29 14:24] #1094 closed

[2020-11-29 14:25] ronisbr opened #1095 "Test issue 2"
Just testing again.

[2020-11-29 14:27] logankilpatrick commented on #1095
Great, thank you!

[2020-11-29 14:32] #1095 closed

[2020-11-29 14:58] StatisticalMice opened #1096 "Test issue"
The thing doesn't work.

[2020-11-29 14:59] logankilpatrick commented on #1096
Spoke too soon ;)

[2020-11-29 15:00] #1096 closed

[2020-12-01 15:14] #1070 closed

[2020-12-01 15:26] logankilpatrick commented on #1009
This would be great to have. @tlienart, I am guessing the right way to approach this would be in Franklin?

[2020-12-01 18:09] tlienart commented on #1009
this can be done without any modifications in Franklin; the stuff that's needed is the content: the bio and photo; if you get me a few of those I can do a poc

[2020-12-01 18:22] logankilpatrick commented on #1009
Great, perhaps we can just add @Keno 's name to his most recent blog post along with his Twitter profile image. Alternatively you can use my name for one of the recent blog posts I've done and my GitHub profile image.

[2020-12-03 04:26] #1063 closed

[2020-12-08 15:07] tlienart opened #1107 "Google search console feedback"
Posting here the content of an email from Google search console (I didn't investigate further)

cc @ViralBShah @logankilpatrick

[code]

also another email came with this which seems quite nice:

<img width="460" alt="Screen Shot 2020-12-08 at 15 05 59" src="https://user-images.githubusercontent.com/10897531/101500938-08623280-3967-11eb-9c2c-9cffd087348f.png">

[2020-12-08 15:09] tlienart commented on #1107
from a quick look it seems that the  sitemap contains at least one link to a page that doesn't exist anymore, it would be  nice to figure out which link fails and then I can try seeing why Franklin included  it in there.

[2020-12-08 15:15] ViralBShah commented on #1107
That's great!

The search console shows these as errors, which all are 404s:

https://julialang.org/soc/index/
Dec 1, 2020
https://julialang.org/index/
Nov 28, 2020
https://julialang.org/blog/2017/12/ml%26pl-zh_tw/
Nov 28, 2020

[2020-12-08 15:26] tlienart commented on #1107
Nice thanks for looking this up! I'll investigate and fix this in Franklin

[2020-12-08 15:29] ViralBShah commented on #1107
I think they are redirects, but not happening in a way that google likes? Or perhaps they should not be in the sitemap?

[2020-12-21 22:32] astadmistry commented on #878
To get the latest stable version, I use jq:

`wget -O - -o /dev/null 'https://julialang-s3.julialang.org/bin/versions.json' | jq 'with_entries(select(.value.stable==true)) | to_entries | max_by(.key).value.files | .[] | select(.triplet == "x86_64-linux-gnu") | .url'`

where `.triplet` can be:
[code]
Note:
In the future if more triplets are added, use the following to command to see all the availab

[2020-12-22 19:28] tianon commented on #456
It looks like this might've happened again on 1.5.3? :innocent: :heart:

https://julialang-s3.julialang.org/bin/checksums/julia-1.5.3.sha256 -> AccessDenied / 403.

[2020-12-22 19:31] staticfloat commented on #456
Fixed.  That's gonna be a bug report to the cyberduck team (editing the file using its internal "edit" functionality cleared its permissions).  ;)

[2020-12-28 14:12] HarshCasper commented on #690
Hi @tlienart @ViralBShah

I would like to work on this Issue back again. Since this issue has been open for a very long time now, and major chunks of dead links are still left to be reviewed and fixed, I would like to take it up and clean it to give the Project a better shape.

I have recently learned about Julia and would like to contribute to Julia Open-Source in all ways possible. Kindly let me

[2020-12-28 14:18] HarshCasper commented on #760
Hello @logankilpatrick @ViralBShah

Thanks for making this Issue as `good first issue`. I would like to work on this by taking inspiration from the [JuliaLang Contribution File](https://github.com/JuliaLang/julia/blob/master/CONTRIBUTING.md) including some pointers from the [Python Dev Guide](https://devguide.python.org/).

Kindly assign me this or give me a go ahead so that I can bring up a draft

[2020-12-28 14:28] ViralBShah commented on #690
Thanks @HarshCasper. Just open PRs fixing the dead links. You can do so in batches. Don't mix any other changes into the PRs that are fixing the dead links - so that they can be quickly merged.

[2021-01-12 15:44] PallHaraldsson opened #1118 "FYI: site is down with "service unavailable" status code"
a) Most important to fix.

b) I know what Varnish, cache etc. is, but also consider more user friendly error pages, as some might find the message "healthy IP" odd.

[2021-01-12 15:48] logankilpatrick commented on #1118
Should be back up, I think this was an issue with our hosting provider.

[2021-01-12 16:20] #1118 closed

[2021-01-23 04:38] logankilpatrick opened #1123 "Status page loads too slowly"
This link: https://status.julialang.org/ loads extremely slow. Anything we can do to improve the performance? More money I assume?

[2021-01-23 10:08] DilumAluthge commented on #1123
@staticfloat @fredrikekre

[2021-01-23 16:44] #1018 closed

[2021-01-23 16:56] logankilpatrick commented on #962
@JuliaLang/stewards bumping this. It may help to add some transparency around how the stewards are chosen, etc. Even if it's only a few sentences that say

[2021-01-23 21:15] ViralBShah commented on #962
Sure - I am ok with the proposed text.

[2021-01-24 23:21] fredrikekre commented on #1123
Replaced statping with https://github.com/fredrikekre/StatusPage.jl

[2021-01-24 23:21] #1123 closed

[2021-01-24 23:32] logankilpatrick commented on #1123
Works like a charm now, thank you @fredrikekre !

[2021-01-31 23:31] logankilpatrick commented on #1025
Images should be auto optimizes by the the Img bot, just enabled this.

[2021-02-04 14:41] logankilpatrick opened #1138 "Update Turing JSoC Projects"
Hey @yebai @cpfiffer @trappmartin @willtebbutt @mohamed82008 @xukai92 we need to get the Turing projects here:
https://julialang.org/jsoc/gsoc/turing/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read through that

[2021-02-04 14:45] logankilpatrick opened #1139 "Update ML GSoC Projects"
Hey @maleadt @MikeInnes @DhairyaLGandhi @avik-pal @aviks @findmyway @staticfloat @ChrisRackauckas we need to get the ML projects here:
https://julialang.org/jsoc/gsoc/flux/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Ple

[2021-02-04 14:49] logankilpatrick opened #1140 "Update SciML GSoC projects"
Hey @ChrisRackauckas please let me know if you will be applying with SciML for GSoC this year so we can figure out what to do with: https://julialang.org/jsoc/gsoc/sciml/

[2021-02-04 14:51] logankilpatrick opened #1141 "Update Compiler GSoC Projects"
Hey @vtjnash @stevengj @SimonDanisch we need to get the compiler projects here: https://julialang.org/jsoc/gsoc/compiler/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read through that link and updated the projects

[2021-02-04 14:52] logankilpatrick opened #1142 "Update WebAssembly Projects"
Hey @Keno we need to get the compiler projects here: https://julialang.org/jsoc/gsoc/wasm/
updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read through that link and updated the projects as needed.

If you are no long

[2021-02-04 14:55] logankilpatrick opened #1143 "Update High Performance and Parallel Computing GSoC Projects"
Hey @vchuravy @shashi @Keno @staticfloat @maleadt we need to get the High Performance and Parallel Computing projects here: https://julialang.org/jsoc/gsoc/hpc/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read thr

[2021-02-04 15:00] logankilpatrick opened #1144 "Update Numerical GSoC Projects"
Hey @stevengj @dpsanders @jiahao @lbenet @mforets @vtjnash we need to get the numerical projects here: https://julialang.org/jsoc/gsoc/numerics/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read through that link a

[2021-02-04 15:01] logankilpatrick opened #1146 "Updated Scientific GSoC Projects"
Hey @schillic we need to get the compiler projects here: https://julialang.org/jsoc/gsoc/science/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read through that link and updated the projects as needed.

If you are

[2021-02-04 15:03] logankilpatrick commented on #1140
Same with these ones: https://julialang.org/jsoc/gsoc/diffeq/

[2021-02-04 15:05] schillic commented on #1146
CC @mforets

[2021-02-04 15:05] logankilpatrick opened #1147 "Update Tooling GSoC Projects"
Hey @pfitzseb @Keno @davidanthoff @shashi @JobJob @barche we need to get the tooling projects here: https://julialang.org/jsoc/gsoc/tooling/#tooling_projects_summer_of_code updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Ple

[2021-02-04 15:07] logankilpatrick opened #1148 "Update Images GSoC Projects"
Hey @timholy @zygmuntszpak we need to get the images projects here: https://julialang.org/jsoc/gsoc/images/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project, expected outcomes, etc. Please read through that link and updated th

[2021-02-04 15:08] logankilpatrick opened #1149 "Update General GSoC Projects"
Hey @vtjnash @maleadt  we need to get the general projects here: https://julialang.org/jsoc/gsoc/general/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read through that link and updated the projects as needed.

If

[2021-02-04 15:09] SimonDanisch commented on #1141
Feel free to just delete me ;)

[2021-02-04 15:11] logankilpatrick opened #1150 "Update Graphs GSoC Projects"
https://github.com/JuliaGraphs/LightGraphs.jl/issues/1522

[2021-02-04 15:13] logankilpatrick opened #1151 "Updated Graphic GSoC Projects"
Hey @SimonDanisch @barche @davidanthoff  we need to get the graphics projects here: https://julialang.org/jsoc/gsoc/graphics/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read through that link and updated the proj

[2021-02-04 15:14] aviks commented on #1147
We should probably remove all the Juno projects, at the very least

[2021-02-04 15:15] aviks commented on #1140
Yeah, I came here to say that there are two separate pages, diffeq and sciml. We may want to merge the two?

[2021-02-04 15:17] logankilpatrick opened #1152 "Update MLJ GSoC Projects"
Hey @ablaom  @sjvollmer @mloning @darenasc we need to get the MLJ projects here: https://julialang.org/jsoc/gsoc/MLJ/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read through that link and updated the projects as

[2021-02-04 15:18] logankilpatrick opened #1153 "Update Tabular Data GSoC Projects"
Hey @shashi @tanmaykm @MikeInnes @davidanthoff we need to get the Tabular Data projects here: https://julialang.org/jsoc/gsoc/tables/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read through that link and updated

[2021-02-04 15:20] logankilpatrick opened #1154 "Update Continuous Time Signal Processing GSoC Project"
Hey @mschauer we need to get the compiler projects here: https://julialang.org/jsoc/gsoc/kalmanbucy/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read through that link and updated the projects as needed.

If you a

[2021-02-04 15:21] logankilpatrick opened #1155 "Updated DeepChem.jl GSoC Project"
Hey @rkurchin we need to get the DeepChem project here: https://julialang.org/jsoc/gsoc/deepchem/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read through that link and updated the projects as needed.

If you are

[2021-02-04 15:23] logankilpatrick opened #1156 "Update DFTK.jl GSoC Project"
Hey @mfherbst @antoine-levitt we need to get the DFTK project here: https://julialang.org/jsoc/gsoc/dftk/ updated for GSoC 2021 asap.

There are new requirements for the projects found here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list including adding an (easy, medium, hard) rating for each project. Please read through that link and updated the projects as needed.

If

[2021-02-04 15:25] aviks commented on #1139
@DhairyaLGandhi maybe we should remove the model-zoo examples project?

[2021-02-04 15:28] aviks commented on #1142
@tshort, @vchuravy @fonsp may be interested

[2021-02-04 15:55] ChrisRackauckas commented on #1140
I don't think it makes sense to merge them. They hit different topics and attract different people. I think doing a slow move is also better than forcing it right away, since this is the one that gets the Google hits right now. https://sciml.ai/dev/ is where it moved but it'll take a bit before people start finding that page instead, so I'd hope to leave this all as-is for a year.

[2021-02-04 16:10] mfherbst commented on #1156
@logankilpatrick Thanks for letting us know. I'll get to it right away.

[2021-02-04 16:54] #1156 closed

[2021-02-04 17:12] #1146 closed

[2021-02-04 17:14] avik-pal commented on #1139
For the 3D Deep Learning Project: I think we can remove it as a single project. Most of the work was completed by Nirmal during the last GSoC. Some of them are left but would be better if integrated with some of / broken off into the other projects:

1. Differentiable Rendering **[HARD]**: We kind of decided that it is best not to integrate it in Flux3D. Rather any of the differentiable renderers

[2021-02-04 17:34] DhairyaLGandhi commented on #1139
@aviks, I'd removed a couple of model zoo related ones from the flux website just today

[2021-02-04 19:41] fonsp commented on #1142
Awesome that this is a GSoC project! We at Pluto are definitely SUPER interested, and Pluto+wasm could also contribute back to Julia's popularity:
- you can make articles/webapps running on WASM
- we can host an online Julia IDE similar in spirit to observablehq.com, but with a _real_ scientific language instead of JS

(@keno I am about halfway done with writing a minimal Pluto+wasm demo, I'll kee

[2021-02-05 01:22] cpfiffer commented on #1138
Can do, we're drafting up a list internally. Will update here when it's good.

[2021-02-05 02:19] logankilpatrick commented on #1138
Thank you!

[2021-02-05 03:32] AriMKatz commented on #1142
This is also connected  to @jpsamaroo 's work on static compilation using small or no runtime and GPUCompiler. A general WASM backend for dev and an option to spit out static WASM for deployment.

Details here: https://docs.google.com/document/d/1rLpZf-HK6b9uYPDT_piUza4LUhtIrLbUftGa_YaXGKQ/edit?usp=sharing

(Which would make a good GSOC as well. Maybe we can have both work together)

[2021-02-05 20:22] aviks commented on #1153
@shashi @tanmaykm shall we remove the JuliaDB projects?

[2021-02-05 22:05] rkurchin commented on #1155
Happy to update things if needed, though @aviks is right that I only posted this a couple months ago. Are there any guidelines for what constitutes easy/medium/hard?

[2021-02-06 01:03] tanmaykm commented on #1153
I was thinking it may be good to retain the Parquet.jl entry but re-word it, maybe focussing on tables/arrow integration for large/out-of-core data, performance, supporting missing encodings...
Would that be useful?

[2021-02-06 16:34] aviks commented on #1153
Yeah, sounds good. Can you do a PR ?

[2021-02-08 04:11] tanmaykm commented on #1153
Sure, done in #1168

[2021-02-08 16:50] logankilpatrick opened #1172 "Add Intro. To Comp. thinking course on Learning page"

[2021-02-09 12:45] logankilpatrick opened #1174 "Fix ordering of publications"

[2021-02-10 15:10] #1148 closed

[2021-02-11 15:29] logankilpatrick commented on #1172
Fixed via: https://github.com/JuliaLang/www.julialang.org/commit/ad94bd53e2f56f81b35f224b6ea361c54be333a8 cc @dpsanders

[2021-02-11 15:29] #1172 closed

[2021-02-11 16:49] DhairyaLGandhi commented on #1139
I think that's a good idea. I was also hoping to propose writing benchmarks for Flux in deep learning and dP cases, developing a kornia equivalent which would need to interface adjoints with the Images API, and also push work on FastAI.jl as well.

[2021-02-11 17:33] #1138 closed

[2021-02-11 18:39] DhairyaLGandhi commented on #1139
cc @darsnack

[2021-02-11 22:02] darsnack commented on #1139
Thanks will try to get a description like @avik-pal up this weekend for FastAI.jl that we can fine-tune.

[2021-02-13 17:11] jbcaillau opened #1179 "New classroom with Julia at Polytech Nice Sophia"
Can you please add the following entry to the list of classes using Julia?
—

[Polytech Nice Sophia](http://polytech-nice-sophia.fr)
- [Mathematics for the engineer](https://gitlab.polytech.unice.fr/MAM/mi2) (Prof. J.-B. Caillau), spring 2020

[2021-02-13 17:13] logankilpatrick commented on #1179
Hey! Feel free to add a PR with the details.

[2021-02-13 17:23] jbcaillau commented on #1179
Done, just need a few minutes to write it down :-)

[2021-02-15 18:19] sbromberger commented on #1150
Ref: https://github.com/JuliaLang/www.julialang.org/pull/1180

[2021-02-16 02:05] #1150 closed

[2021-02-16 02:08] #1179 closed

[2021-02-16 02:08] logankilpatrick commented on #1179
Awesome, added it in. Thanks for opening this issue!

[2021-02-16 02:09] logankilpatrick commented on #1086
New PR: https://github.com/replit/polygott/pull/222

Julia 1.4.3 should be available soon and 1.5.3 shortly thereafter.

[2021-02-16 06:55] jbcaillau commented on #1179
Thanks for the great job: Julia rocks.

[2021-02-19 03:03] logankilpatrick commented on #1155
Hey @rkurchin, just adding a project difficulty would be ideal (easy, medium, hard).

[2021-02-19 03:04] logankilpatrick commented on #1154
Closed via https://github.com/JuliaLang/www.julialang.org/commit/a5db352edd6136d85e3d085d1f7b465369bd1972

[2021-02-19 03:04] #1154 closed

[2021-02-19 03:08] logankilpatrick commented on #1153
Thanks all!

[2021-02-19 03:08] #1153 closed

[2021-02-19 03:09] #1152 closed

[2021-02-19 03:10] logankilpatrick commented on #1151
@SimonDanisch @barche @davidanthoff commenting out the projects for now, if they are still of interest, please open a PR to update them.

[2021-02-19 03:12] #1151 closed

[2021-02-19 03:14] #1147 closed

[2021-02-19 03:18] #1149 closed

[2021-02-19 03:23] logankilpatrick commented on #1144
@stevengj @dpsanders @jiahao @lbenet @mforets I commented out a few projects that were not updated. Feel free to update and revise if they are still on the table.

[2021-02-19 03:30] #1144 closed

[2021-02-19 03:32] logankilpatrick commented on #1142
@Keno the proposal and such were not updated so the project has been de-referenced from the project list but feel free to update and add it back in.

[2021-02-19 03:32] #1142 closed

[2021-02-19 03:33] #1141 closed

[2021-02-19 03:34] logankilpatrick commented on #1141
@vtjnash it would be really nice to have expected project outcomes and difficulties for the compiler projects

[2021-02-19 03:53] logankilpatrick commented on #1143
Removed projects which were not updated

[2021-02-19 03:53] #1143 closed

[2021-02-19 03:55] logankilpatrick commented on #1140
@ChrisRackauckas would be ideal to have the projects updated slightly if certain ones were completed and such

[2021-02-19 03:55] #1140 closed

[2021-02-19 03:56] logankilpatrick commented on #1139
@avik-pal not sure if your proposed projects made it in but feel free to do a PR.

[2021-02-19 03:56] #1139 closed

[2021-02-19 03:57] logankilpatrick commented on #1155
Closing this for now though, thanks again for helping out!

[2021-02-19 03:57] #1155 closed

[2021-02-19 04:37] logankilpatrick opened #1194 "Add mentor slack channel and jsoc admins"
Add to the jsoc section.

[2021-02-19 09:45] SimonDanisch commented on #1151
Thanks! Sorry, I wanted to crowd source this but didn't get anyone to help and then forgot about it ;)

[2021-02-19 12:07] logankilpatrick commented on #1151
Feel free to re-add the projects if you get a chance and have bandwidth

[2021-02-24 19:38] Keno commented on #548
It would be good to go through and do an alt text audit. That seems like it should be simple to do. Also, if we can have a CI give a warning on images that lack alt text that'd be great to keep up quality.

[2021-02-25 03:41] azev77 opened #1201 "Clean up & update Julia classes"
Julia [classes](https://github.com/JuliaLang/www.julialang.org/blob/main/learning/classes.md) is very dated.
Can the material be arranged by latest date similar to [Books](https://github.com/JuliaLang/www.julialang.org/blob/main/learning/books.md)?

Its missing some great stuff:
[Methods Of Mathematical Physics](https://github.com/dlfivefifty/M3M6MethodsOfMathematicalPhysics)
[Applied Complex Anal

[2021-02-25 14:06] logankilpatrick opened #1202 "Do the benchmarks include compile time?"
@ViralBShah do these https://julialang.org/benchmarks/ include compile time? Probably best to mention it either way

[2021-02-25 14:10] ViralBShah commented on #1202
Pretty sure it doesn't.

https://github.com/JuliaLang/Microbenchmarks/blob/master/perfutil.jl

[2021-02-25 14:26] logankilpatrick commented on #1202
Got it, perhaps we could re-compile this for 1.6 and see what the impact is.

[2021-02-25 14:29] timholy commented on #1202
But the benchmarks are very outdated. Example: https://discourse.julialang.org/t/julias-applicable-context-is-getting-narrower-over-time/55042/76?u=tim.holy

[2021-02-25 14:36] giordano commented on #1202
It isn't that easy because you need a system with all programs installed.  Some of them are proprietary and require a license.

[2021-02-25 14:56] ViralBShah commented on #1202
There really will be no change in these benchmarks. They are already close to C speed.

[2021-02-25 18:10] timholy commented on #1202
I agree with @giordano that it's very nontrivial to rerun these. Perhaps we could ditch proprietary platforms and only run against open-source alternatives? Even then it's of course not easy because it will involve (1) installing a bunch of software (maybe easy, but maybe not) and (2) build fixes like https://github.com/JuliaLang/Microbenchmarks/issues/43.

Still, if someone wants to tackle this,

[2021-02-25 18:25] ViralBShah commented on #1202
@timholy That's a very good point. We should probably not have that as the first link, and also to @logankilpatrick 's point- can clarify on the benchmarks page that these do not include compile time.

[2021-02-25 18:26] ViralBShah commented on #1202
This might be a better benchmark page: https://benchmarksgame-team.pages.debian.net/benchmarksgame/which-programs-are-fastest.html

Although I suppose some more benchmark optimization is necessary. @KristofferC was more closely involved with those.

[2021-02-26 23:58] timholy commented on #1202
That's a useful set of benchmarks. Aside from being good, one advantage it has is apparent neutrality: since we don't control them, there's no risk that we'd be perceived as biasing the results. (I was curious how they take account of Julia's compile-time latency...)

However, the benchmarks are of pretty different character: the ones at "the game" seem oriented towards all-the-stops optimization:

[2021-02-27 00:21] ViralBShah commented on #1202
I believe it is because of compile time that we don't do as well as the others. If we had a clear "compile a binary stage" and then "run that binary", we may do even better.

There are other benchmarks that I like to point people to:
1. DataFrames like stuff: https://h2oai.github.io/db-benchmark/
2. Graphs: https://www.timlrx.com/blog/benchmark-of-popular-graph-network-packages-v2
3. CSV: https://

[2021-03-09 07:36] Bhavik-Ardeshna commented on #1194
Hey! @logankilpatrick  I want to work on this issue
Plz assign to me

[2021-03-09 10:36] Bhavik-Ardeshna opened #1207 "Error in Readme to run project locally"

[2021-03-09 10:37] Bhavik-Ardeshna commented on #1207
Clone the repository and `cd` to it. Start julia with `julia --project` and do

[code]

[2021-03-09 10:42] Bhavik-Ardeshna commented on #1207
[code]

Error while running project without cmg
[code]

[2021-03-09 10:50] Bhavik-Ardeshna commented on #1207
#1208

[2021-03-09 11:06] KristofferC commented on #1207
The error is because a page somewhere is faulty, and that page should be fixed. Could be the page in the warning:

[code]

[2021-03-09 11:08] Bhavik-Ardeshna commented on #1207
Ok sir ...I got it.
I am working on that issue

[2021-03-09 11:53] Bhavik-Ardeshna commented on #1207
Sir @KristofferC remove graphs.md but its showing one more warning about title
[code]

[code]
Any specific title need to give here plz provide

[2021-03-09 11:59] Bhavik-Ardeshna commented on #1207
[code]

I resolved some error in ```/content/jsoc/gsoc``` and also delete ```graphs.md```
But still showing issue

[2021-03-09 12:56] KristofferC commented on #1207
`julialang.org/mySite`, the issue there seems to be the `mySite` that you generated earlier. You can probably just remove that directory.

[2021-03-09 15:49] logankilpatrick opened #1211 "Move MLJ stuff to the right folder"
@vollmersj hey, can you move this file: https://github.com/JuliaLang/www.julialang.org/blob/main/content/jsoc/gsoc/MLJ.md into the jsoc/gsoc/mlj.md file? I must have mistakenly not caught this initially but there should only be one file for the project.

[2021-03-09 15:52] logankilpatrick commented on #1207
Hey @Bhavik-Ardeshna looks like the issue is that you generated a new site within the existing site repo as Kristoffer pointed out. I verified that the steps in the readme do in fact run the site. Thanks for this issue and if you think things could me improved, please open a PR.

[2021-03-09 15:52] #1207 closed

[2021-03-09 15:53] logankilpatrick commented on #1194
This was a reminder for myself, thank you for the offer to help!

[2021-03-09 16:01] Bhavik-Ardeshna commented on #1194
@logankilpatrick Hey I want to contribute to Julia can u suggest which project should i start

[2021-03-10 21:18] vollmersj commented on #1211
this part can be deleted

[2021-03-12 02:11] #1211 closed

[2021-03-12 02:23] #1202 closed

[2021-03-13 14:36] ViralBShah opened #1221 "JuliaCon 2020 section on the landing page does not actually load a random video"
It just shows the first video from the playlist every time. Perhaps youtube changed something?

@logankilpatrick

[2021-03-13 14:39] ViralBShah commented on #1221
It could also helped improve Pluto's popularity. :-)

[2021-03-13 15:22] logankilpatrick commented on #1221
It seems something on the backend changed for YouTube since that code was not touched. My initial searches/test yielded no results. Will follow up on this.

[2021-03-13 15:36] ViralBShah commented on #1221
Yeah when we did it, I had checked that it did work.

[2021-03-18 14:29] logankilpatrick opened #1225 "Add a JSoC Alumni Page"
It might be cool to have a list by year of all of Season of Contribution students. If any past JSoC/GSoC students want to tackle this, feel free too, otherwise, I will get to it eventually.

[2021-03-23 14:08] logankilpatrick opened #1230 "Translated CoC and CoC Language note"
Worth looking over this: https://github.com/exercism/julia/blob/main/CODE_OF_CONDUCT.md#exercism-code-of-conduct to see how we can implement some of these things for our CoC.

[2021-03-23 14:46] logankilpatrick opened #1231 "Make JSoC Project Page better for discoverability"
We should add a search feature, the ability to sort projects by difficulty, and more.

[2021-03-23 14:48] logankilpatrick commented on #1231
In the interim, add a full project page, Maybe add a JSoC project for discoverability in Franklin

[2021-03-24 03:44] logankilpatrick opened #1233 "Add images on the JSoC Section"
TODO: Add images to the JSoC section for each program. Will help the eyes when viewing a wall of text.

[2021-03-25 01:18] logankilpatrick opened #1235 "Updates to the Julia CoC"
Hey @JuliaLang/stewards,

I think it would be worth iteratively working on making the CoC more robust. In particular, I think we should update the text to include the mention of the need to make things open as well as add a diversity statement.

I like the NumPy openness statement:

As an OSS project, it makes sense to state this explicitly.

We should also add a dedicated diversity section on the

[2021-03-25 01:40] logankilpatrick commented on #1194
@Bhavik-Ardeshna please [ping me on Slack](https://julialang.org/slack/) if you want help getting started, happy to provide suggestions.

[2021-03-25 01:40] #1194 closed

[2021-03-25 12:29] jiahao commented on #1235
Thank you for taking the lead on this language change. Cross-referencing [a relevant Slack thread](https://julialang.slack.com/archives/C6FGJ8REC/p1616620365067300) for context.

Summary of issues discussed
- Pile-on behavior should probably be discouraged.
- A "no politics" rule is not neutral, but rather reinforces the status quo, silences the marginalized, and makes it harder to advocate for po

[2021-03-25 15:51] logankilpatrick opened #1238 "GSoD 2020 Follow up blog post"

[2021-03-25 19:36] ViralBShah opened #1241 "dark mode julia logo"
I use a dark mode plugin in my browser, and we have larger issue around respecting dark mode: #775.

While much of the website works fine with the dark mode plugin, it is only the julia logo that blends into the background. How do we use the white julia logo (which we have in the logo repo) when the browser is in dark mode?
<img width="355" alt="Screen Shot 2021-03-25 at 3 34 24 PM" src="https://u

[2021-03-25 19:41] logankilpatrick commented on #1241
My understanding is that we would need to implement something in our code (like a dark mode Library or special non-existing Franklin syntax to handle dark mode) or use @cormullion 's black logo with a white outline to make it visible. The latter is probably easier.

[2021-03-25 19:51] ViralBShah commented on #1241
@tlienart Is this something Franklin should support?

[2021-03-25 20:15] tlienart commented on #1241
This is not on Franklin's side, as far as I'm aware this should be addressed by either

1. some CSS (suggested by Keno in the other issue)
2. some javascript

Either way it's not on the static side, this should be done when the user loads the page. I do not know precisely which CSS needs to be added so that it works with the different ways user can request dark mode (if it's a browser extension th

[2021-03-25 20:28] cormullion commented on #1241
As a temporary measure we could do some white-lining - I'll take a look tomorrow.

[2021-03-25 22:23] marius311 opened #1243 "Wording tweak suggestion in blog post"
Super minor, just my opinion. In the [new post](https://github.com/JuliaLang/www.julialang.org/blob/d579405285ff5d6597d5e98bb4ee50faf7babb5e/blog/2021/03/julia-1.6-highlights.md), this made me do a brief double-take:

Personally I understand the intention is something like "we'll always strive for faster no matter how good we get" but another reading is "we'll never be able to make Julia as fast a

[2021-03-25 22:32] #1243 closed

[2021-03-28 03:21] ViralBShah commented on #1221
@logankilpatrick or perhaps someone else - can we get this fixed?

[2021-03-28 05:48] abhishalya commented on #1221
I'll have a look at this once.

[2021-03-28 11:42] #1221 closed

[2021-04-04 13:33] logankilpatrick opened #1253 "What does it mean to be a contributor and how many does the Julia ecosystem have"
One important metric we should be tracking and sharing is contributors to the language and ecosystem. This is really really hard to do. We can obviously go for the low hanging fruit via GitHub and look at who committed to a repo but that often time isn't enough.

A few possible metrics that would be cool to track:
- The number of people who contributed to all of the registered Julia packages per m

[2021-04-04 13:54] giordano commented on #1253
I have the answers for these questions, wait for JuliaCon 🙂

[2021-04-04 13:58] ViralBShah commented on #1253
So long as the contribution goes to a repo (julia or package), it can be automatically counted.

[2021-04-05 06:00] Roger-luo opened #1257 "repl.it refuse to connect"
after I login using Google, I got this somehow

![image](https://user-images.githubusercontent.com/8445510/113542640-b2b73300-95b2-11eb-8c49-82b36cd0af56.png)

[2021-04-05 15:02] logankilpatrick commented on #1257
Are you allowing JS in your browser?

[2021-04-05 15:10] Roger-luo commented on #1257
I think so. I can use replit directly

[2021-04-08 02:49] #1241 closed

[2021-04-08 02:58] #292 closed

[2021-04-08 14:42] logankilpatrick opened #1260 "Replace JuliaCon videos on homepage with a live stream"
It would be cool to replace the JuliaCon videos on the main page with our own livestream link if anyone is streaming live on our channel. This could likely be done with JS but I wonder if it's possible without using cron job.

[2021-04-08 15:17] #1238 closed

[2021-04-08 15:18] logankilpatrick commented on #1233
Done but need to figure out how to make them the same size (might just need to edit the raw images).

[2021-04-10 09:14] StarTrooper08 commented on #1233
Hello , can I assist you in this @logankilpatrick .

[2021-04-10 09:16] StarTrooper08 commented on #1174
What work is needed for this issue ??

[2021-04-10 12:15] logankilpatrick commented on #1174
Just need to put them in order of publication date perhaps

[2021-04-11 02:21] StarTrooper08 commented on #1174
Pardon , I didn't get the point .Can I get more information about the following issue.

[2021-04-11 13:09] #1231 closed

[2021-04-11 14:01] logankilpatrick commented on #1257
If others continue to have this issue, we can re-open and talk with the repl.it folks.

[2021-04-11 14:01] #1257 closed

[2021-04-12 16:55] rikhuijzer opened #1268 "Broken links to https://docs.julialang.org/en/latest/manual/..."
It appears that https://docs.julialang.org/ doesn't have a `latest` tag any more. Still, this repository contains 10 links to that version of the docs, which all show a 404 when opening the link:

[code]

I don't know what is the best solution here, so that's why I don't open a PR.

[2021-04-12 18:29] fredrikekre commented on #1268
I guess the links that have corresponding sections in the current manual can be updated, but I guess in general blogposts will always be outdated after some time.

[2021-04-16 09:15] cormullion opened #1272 "Add JuliaMono webfonts to /assets/ ?"
We could add the JuliaMono webfonts to the julialang.org website. They could live in, say,  `www.julialang.org/assets/fonts/JuliaMono/webfonts/` as the files:

[code]

The total size of this new directory would be about 5MB. People would then be able to use the fonts for package documentation, blog posts, [etc](https://github.com/search?o=desc&q=juliamono+language%3Acss&s=indexed&type=Code).. To d

[2021-04-16 09:35] fredrikekre commented on #1272
Obviously code on the website should use it!

[2021-04-16 14:21] #1268 closed

[2021-04-16 15:50] staticfloat commented on #1272
So is the benefit here that users don't have to use `jsdelivr` but can instead use `julialang.org`?  It's not that I am afraid of the extra traffic, (Fastly is quite generous with us so it should be fine) but more that I'm not sure if it's much benefit so I'd prefer to keep it being served on other people's bills than ours as long as makes sense.  :P

[2021-04-16 16:26] cormullion commented on #1272
Well I don't know anything about these CDNs - which ones are good, which aren't, whether two are better than one, how much downloads cost, etc - so I can't put any numbers on the benefits of using "julialang.org" or another. Might as well leave everything as it is for now... 😀

[2021-04-17 09:00] StarTrooper08 commented on #1233
Can we optimize the images??
 So that it would load quick??

[2021-04-17 09:04] StarTrooper08 commented on #1225
Yes , I was too as a beginner struggling and wanted to know actually how does the this GSoC and GSoD works .And best way is to have a look over past year GSoC and GSoD contributors experience and how they did it.
It would be nice if we have this website surely this will help.

[2021-04-17 09:17] StarTrooper08 opened #1275 "[issue]GitHub id not found of Jsod mentor"
The GitHub id of Julia  Season of Docs mentor Dhairya Gandhi is not accessible which is located in-
GSoD webpage -> Flux (Machine Learning) section.
Link for the same -

[https://julialang.org/jsoc/gsod/projects/#julias_google_season_of_docs_projects]()

It gives 404 page not found error.

I guess the link is not proper of the GitHub id.

[2021-04-17 09:17] StarTrooper08 commented on #1275
Can I fix this issue??

[2021-04-17 11:25] StarTrooper08 commented on #1275
The following PR will closed this issue.

[2021-04-18 00:19] mortenpi commented on #1272
I thought I'd just chime in from the Documenter perspective: Documenter sites currently use two CDNs: Google Fonts and CDNJS, for fonts and JS deps, respectively. I am quite hesitant to add another CDN to that list (whether that is jsDelivr or julialang.org/Fastly). The reason is that once _any_ CDN fails, the Documenter sites will fail to load.

That is because the browsers will block the site lo

[2021-04-18 08:03] cormullion commented on #1272
Ha, yes, I remember that. I now wonder why the docs didn't all just load with Times and Courier fallback fonts instead...

JuliaMono won't be joining Google Fonts any time soon - there's [a lot of work involved](https://github.com/googlefonts/gf-docs/tree/main/Spec) adapting to their processes, and there's no guarantee of being accepted anyway.

Looks like people are happy using `jsdelivr` to serv

[2021-04-18 08:03] #1272 closed

[2021-04-18 09:53] StarTrooper08 commented on #1235
One thing came into my mind .
That whenever we make issue and after the issue is been solved it should be closed .
So that it won't make any confusion for the new contributors and also experienced contributers who want to contribute.

So what I want to ask is that can we add this point in the CoC :

### After the issue gets resolved author should closed the issue .

Please do have feedback whether

[2021-04-18 20:43] mortenpi commented on #1272
What about CDNJS though? I discovered we could [get Lato from there](https://cdnjs.com/libraries/lato-font). It looks like it's a matter of [dropping a JSON file into a repo](https://github.com/cdnjs/packages/blob/master/CONTRIBUTING.md)?

[2021-04-19 09:23] cormullion commented on #1272
I'll give it a go.

[2021-04-19 14:59] #1275 closed

[2021-04-21 13:05] cormullion commented on #1272
Wasn't too difficult:

[<img width="1197" alt="Screenshot 2021-04-21 at 14 04 02" src="https://user-images.githubusercontent.com/52289/115558251-73732c80-a2aa-11eb-9e1b-a625cf4f8a16.png">](https://cdnjs.com/libraries/juliamono)

[2021-04-22 00:40] logankilpatrick commented on #1235
Thanks for the suggestion, I think given this is a standard OSS practice, we don't need to mention it.

[2021-04-22 04:17] StefanKarpinski commented on #1235
It also doesn't seem relevant to a code of conduct / community standards document — that's a logistical issue for a particular project.

[2021-04-22 10:35] bkamins opened #1282 "DataFrames.jl 1.0 blog post"
Following the request by @quinnj (following @ViralBShah) I open the issue here to start discussing what to put on the blog post about DataFrames.jl.

Here is a quick list of things that come to my mind that could be shown:
1. Why it took so long to reach 1.0 release: history of DataFrames.jl and its consequences (many rounds of deprecation cycles)
2. Composability made possible by Tables.jl and Da

[2021-04-22 10:38] ViralBShah commented on #1282
It would be nice to have some discussion on the philosophy behind the package and its design.

[2021-04-22 10:43] #1048 closed

[2021-04-22 10:44] ViralBShah commented on #1086
Should we remove reply.it?

[2021-04-22 10:46] ViralBShah commented on #1201
This would be a welcome PR if someone wanted to take a stab at it.

[2021-04-22 10:47] #993 closed

[2021-04-22 10:48] #962 closed

[2021-04-22 10:48] DhairyaLGandhi commented on #1086
I would think so. Or at least link to places like a live Pluto app on juliahub or perhaps nextjournal?

[2021-04-22 10:50] #955 closed

[2021-04-25 05:37] comradekingu commented on #1230
How is assigning gender to a female name sexualizing it?

[2021-04-26 17:00] StefanKarpinski commented on #1230
Using a linguistically gendered word for something is not the same as talking about it as though it were a person with a gender. Languages where nouns have genders also refer to tables and chairs and other inanimate objects with gendered words without anyone being confused that those objects have human genitalia. In particular, even in languages with gendered nouns, it is perfectly clear to everyo

[2021-04-26 17:48] comradekingu commented on #1230
That may not be "genderize", so much as _personify_.

I predict the nature of how that comes to be, will in fact not be changed by the particular contents of a text-file. However what you have done here is make it truly irresistible to disobey.
Could it be that the female name "Julia" personified in things seen as good, manifest as a result of capacities of the language? It is however a linguistic

[2021-04-26 18:12] logankilpatrick commented on #1230
Thanks for your input @comradekingu, it is noted.

[2021-04-28 17:43] vtjnash opened #1286 "remove mention of Juno?"
I tried to download Juno, and it redirected me here, which doesn't appear to have Juno. Should it be delisted here, or do the download links exist but are not being shown?

[2021-04-29 14:29] logankilpatrick commented on #1286
Where is it listed?

[2021-04-29 14:36] vtjnash commented on #1286
according to github search, on
learning/getting-started.md
community/organizations.md
download.html
index.html

[2021-05-22 08:21] StarTrooper08 commented on #1025
Yes , the imgbot optimises the images without affecting the images quality.
I too use it.

[2021-05-24 07:31] StarTrooper08 commented on #854
@logankilpatrick Is this issue still open ?
Or else is it completed?

If not completed I would be glad to take this issue.

[2021-05-26 14:17] logankilpatrick opened #1293 "Document the use of `juliaup` to have multiple Julia versions and keep Julia updated"
If someone wants `Julia` to point to a specific version but perhaps `julia2` to point to some other version, we should maybe give those steps? It might not be as relevant now but with forthcoming releases it may be important.

[2021-06-16 21:10] azev77 commented on #506
JuliaHub has a package counter: https://juliahub.com/ui/Packages
Is that what you want?

[2021-06-16 22:02] azev77 commented on #646
1. here is a link to the updated MIT cheat sheets: https://computationalthinking.mit.edu/Spring21/cheatsheets/
2. the main Julia cheat sheet (https://juliadocs.github.io/Julia-Cheat-Sheet/) is dated.
I made a few PRs but there's a ton of stuff.
E.g.
organization names are old (JuliaOpt etc)
missing the last few years of JuliaCon (latest is 2018)
dead link to JuliaBox
etc...
Can we have a community

[2021-06-17 01:52] #1233 closed

[2021-06-17 01:55] logankilpatrick commented on #1073
@StefanKarpinski @ViralBShah we have this: https://github.com/JuliaLang/www.julialang.org/blob/main/privacy.md can we delete the legal page?

[2021-06-17 02:29] ViralBShah commented on #1073
Yes, let's do that.

[2021-06-17 08:22] StefanKarpinski commented on #1073
Sure.

[2021-06-17 13:15] sevaux opened #1299 "Adding classes to https://julialang.org/learning/classes/"
Hi all,

I would like to add the following classes where julia is heavily used at Université Bretagne Sud. I hope this is the right place to ask.

* Université Bretagne Sud
    * ANR2201 - Result Analysis (Prof. Marc Sevaux), since 2018
    * INOE301 - Scheduling (Dr. Alexandru Olteanu), since 2018
    * MAOE501 - Advanced Scheduling (Dr. Alexandru Olteanu), since 2018
    * MTH2151 - Graphs (Prof

[2021-06-18 13:14] #1073 closed

[2021-06-18 18:04] azev77 commented on #1299
Do you have links to the course material: lecture notes & code?

[2021-06-19 11:35] sevaux commented on #1299
Unfortunately, not yet. Is it compulsory? If yes, we may take some time to setup some web pages.

[2021-06-19 12:41] logankilpatrick commented on #646
We should probably move the cheatsheet from the JuliaDocs org and into the Julia Community org

[2021-06-19 13:33] azev77 commented on #1299
It’s not required.
But in my view, those are most useful

[2021-06-21 06:16] sevaux commented on #1299
OK, we will prepare that during summer time. Thanks.

[2021-06-22 09:15] logankilpatrick commented on #1235
I would also propose adding a few examples terms to avoid in the CoC such as "blacklist" and "whitelist". See here for example: https://github.com/JuliaInterop/Clang.jl/pull/302

[2021-06-22 09:17] logankilpatrick commented on #1235
Any thoughts on how to push this forward? If we (@jiahao, I , and others) put a PR in and request feedback from the community as a whole + stewards, is that fair or is there a different way to approach this?

[2021-06-22 15:15] stevengj commented on #1235
I would encourage a set of small self-contained PRs rather than a single big one if possible.   For example, a small PR to rename black/whitelist is likely to be relatively uncontroversial.  A separate PR for a diversity statement. Etcetera.

[2021-06-22 20:46] adivzev opened #1304 "Add micro-benchmark?"
Could you add a micro-benchmark for the language D? I expect a responsible implementation in D to give Julia a serious run for its money.

See [Why Program in D](https://wiki.dlang.org/Why_program_in_D) for this quote from one of the language creators:
"[D] optimizes it down to code that is virtually indistinguishable from what a C programmer would write for maximum efficiency."
Also, scroll down

[2021-06-23 11:04] StefanKarpinski commented on #1235
It makes sense to me to specifically call out diversity but it seems like the current "be respectful and inclusive" already aims to do that without specifically mentioning the word "diversity". I agree, however, that it could probably use some rewording. For example, attacking someone for any reason is bad, so that wording choice is a bit off. Several of the items in @jiahao's list seem like they

[2021-06-23 11:07] StefanKarpinski commented on #1304
It doesn't seem like there's any reason to expect the performance of D to differ much from C/C++. Every additional language adds a significant burden when the benchmarks need to be run or updated. If you want to add benchmarks for a new language, if you can setup a single system where all of the benchmarks can be run and make sure they still work, then 👍🏻. Unfortunately, this is quite hard to do.

[2021-06-23 11:23] StefanKarpinski commented on #1235
I would add that the reason the section that addresses diversity is entitled "Be respectful and inclusive" is that it would be nonsensical to instruct people to "be diverse". We want to foster a diverse community, but you can't tell people, as individuals, to be diverse. So that section *is* effectively the commitment to diversity, but since the document is expressed in terms of what an individual

[2021-06-25 11:50] bardo84 opened #1305 "Bridge the gap, please! (from Matlab to Julia)"
Coming from Matlab, an experience with Julia

The first phase - getting the Julia syntax right - was easy - as long as everything is kept in a single file.
Then one (me) hits a wall - How to do the stuff below?

Want to use functions in several files?
In Matlab:
- add path to path.txt
- save function or class in a file with the same name, easy
In Julia: learn about include, import, module - steepe

[2021-06-25 12:56] StefanKarpinski commented on #1305
Please use https://discourse.julialang.org/ for this kind of feedback.

[2021-06-25 12:56] #1305 closed

[2021-06-25 13:04] bardo84 commented on #1305
ok

[2021-06-25 13:36] logankilpatrick opened #1306 "Rework Research section"
We should still prominently link the research but right now, it is just a list of papers and awards which is helpful but less valuable than some of the other areas.

[2021-06-29 14:08] fonsp opened #1308 ""Code Examples" page is broken"
This is the first result on google for "Julia code example":

https://julialang.org/learning/code-examples/

but the repl.it session does not load:

<img width="1235" alt="Schermafbeelding 2021-06-29 om 16 07 50" src="https://user-images.githubusercontent.com/6933510/123812177-2936a900-d8f4-11eb-8dcf-de0a8c2a6109.png">

[2021-06-29 23:15] logankilpatrick opened #1309 "Add release timeline"
I did not realize Julia versions were on a timed release (re-watching the State of Julia talks form JuliaCon 2020). Can we add the details on this release schedule?

[2021-06-29 23:17] logankilpatrick commented on #1309
cc @KristofferC

[2021-06-30 04:27] johnnychen94 commented on #1309
Do you mean this blog https://julialang.org/blog/2019/08/release-process/#the_release_process?

[2021-06-30 10:54] logankilpatrick commented on #1309
AH yes! Is that blog post still up to date @StefanKarpinski

[2021-07-02 06:21] KristofferC commented on #1309
Perhaps that blog post could be linked to from the download page? Not sure where else it would go.

[2021-07-02 06:43] KristofferC commented on #1235
This could be done to the different Julia community pages but I don't think it is worthwhile nor desirable to go around making PRs that blindly search and replace terms in a bunch of open source packages. One reason for this is that unless you have worked with the package you do not really have the context to know if your search and replace breaks something. For example, https://github.com/JuliaLa

[2021-07-02 11:06] logankilpatrick opened #1310 "Navigate to a new page after downloading Julia"
This could give us the opportunity to link the platform specific stuff based on which link was clicked and such. May also give us a chance to just say thanks for downloading and here is where you can get help.

[2021-07-02 13:20] StefanKarpinski commented on #1309
The blog post is still accurate.

[2021-07-03 16:13] logankilpatrick commented on #1308
Hey @fonsp is this still the case? It is working for me

[2021-07-03 16:17] logankilpatrick commented on #1235
@KristofferC I understand your point and perspective

[2021-07-05 10:00] #1308 closed

[2021-07-09 12:24] logankilpatrick opened #1317 "Switch macOS ARM to macOS ARM (Apple Silicon M1)"
Can we add some additional details to the macOS ARM section? I consider myself an Apple fan and avid user (currently with the M1 Mac) and it does not tell me in my own computers settings that I am using ARM. Perhaps we should add some detail there as to avoid confusion ?

[2021-07-09 12:25] logankilpatrick commented on #1317
Or perhaps mention explicitly that x86 is the intel based Mac?

[2021-07-14 23:52] PallHaraldsson opened #1323 "Julia on Windows 11"
Add support tier for Windows 11. Most likely it works, like Python according to video (that I didn't watch):

https://www.youtube.com/watch?v=narekK5SEBg

You could wait for it to be officially released, if you want to be cautious or list as tier 2.

I don't even have Windows 10, or any version, still curious if Julia actually works. I'm sure someone can and wants to check.

[2021-07-22 18:58] melissawm opened #1327 "Micro-benchmarks plot shows overlapping labels on Firefox"
The plot showing [Micro-benchmark results](https://julialang.org/benchmarks/) is currently showing unreadable, overlapping labels on Firefox:

![Screenshot_20210722_154740](https://user-images.githubusercontent.com/3949932/126694188-875f546a-1e33-4b6d-b980-67aa76fd2307.png)

I'm using Manjaro Linux and Firefox 90.0.1

[2021-07-23 21:29] giordano commented on #1327
How does [this image](https://raw.githubusercontent.com/JuliaLang/www.julialang.org/d2e2bdec330f830ca7147194c7ad1780ffbd657c/_assets/images/benchmarks.svg) appear in your browser?

[2021-07-23 22:23] melissawm commented on #1327
No better, unfortunately:

![Screenshot_20210723_192106](https://user-images.githubusercontent.com/3949932/126846883-ef2da338-199c-4963-b292-9e800b063804.png)

It does show just fine on Chrome, so it appears to be a Firefox-specific thing.

[2021-07-23 22:54] giordano commented on #1327
This is how the image appears to me on Firefox 90 on ArchLinux (which isn't much different from your setup):
![image](https://user-images.githubusercontent.com/765740/126848302-4481508f-aebf-425c-a042-83b883d9f44a.png)
Note that the image is an SVG, so the rendering of the text is done by the browser (and I guess something is failing in your browser).  A raster image would solve the issue for you,

[2021-07-25 16:56] elizavetasemenova opened #1328 "On the orgs ecosystem page, include a way for new contributors to connect with those orgs"
where can I find out more about this?

[2021-07-25 18:29] logankilpatrick commented on #1328
We should probably have a domain page where we list different areas and how folks can get started or contribute as users already in the field

[2021-07-25 18:29] logankilpatrick commented on #1328
Initially, we can set the structure and allow folks to fill in the gaps

[2021-07-26 13:42] logankilpatrick opened #1333 "Use the committed manifest file so things don't break"
We should use the manifest file in this repo so we can bump version as we see fit

[2021-07-26 14:38] logankilpatrick opened #1335 "Fix Twitter logo in blog posts"
Should be an SVG.

[2021-07-26 14:39] KristofferC commented on #1333
I thought this was done in https://github.com/JuliaLang/www.julialang.org/commit/1776cccc400f44d6c7704f355cf6d876432ced93#diff-28802fbf11c83a2eee09623fb192785e7ca92a3f40602a517c011b947a1822d3R47.

[2021-07-29 13:22] amir-ni opened #1337 "Julia documentation translation"
Since Julia was the programming language used in our [Applied Linear Algebra course](http://sharif.edu/~mtefagh/ala/home.html), some of my classmates and I started translating Julia's documentation to Persian last semester to help other students.

Almost a third of the manual has been translated or is being translated. We hope more people will be able to find out about us by introducing ourselves

[2021-08-11 12:39] weymouth opened #1348 "Static html blog post"
I've written a tutorial that might be fun to host on the JuliaLang blog. I made it using Pluto and have exported the static HTML which can be found [here.](https://github.com/weymouth/weymouth.github.io/blob/master/Shark.jl.html).

@ViralBShah

[2021-08-11 14:00] ViralBShah commented on #1348
@tlienart Any suggestions on how we convert the Pluto HTML posted above into a blog post? Would it be possible to just take the standard blog template and then dump the static html below?

[2021-08-11 14:28] tlienart commented on #1348
oh wow, that's a bit of a mammoth page...

it's possible to do this but currently requires manual work; there may be a future where Pluto notebooks can be directly plugged in Franklin following the example that Fons did for the intro to computing site but for now it's not there.

What might work is to:

- take the page as it stands and
- remove the top part until the script loading `lodash`
- remo

[2021-08-11 14:35] weymouth commented on #1348
Yeah, it's big because of the embedded gifs.

I'm happy to try out 2. What is the output from Literate that you need?

[2021-08-11 14:36] tlienart commented on #1348
If you transform your Pluto file into a `.jl` file that Literate can understand and that I can run directly on my side, I can do the rest (including saving gifs in the right location and loading them so don't worry about that)

[2021-08-11 14:37] tlienart commented on #1348
PS: there won't be sliders, but they also don't work on http://weymouth.github.io/Shark.jl.html as far as I can see so you're probably fine with this?

[2021-08-11 14:39] weymouth commented on #1348
Ok. I'll give it a shot.

[2021-08-11 14:41] tlienart commented on #1348
I think the downloadable `notebook.jl` file is pretty close to what I need with a few things

- remove the interactiveutils stuff
- remove the manifest at the bottom
- remove all the `begin-end` stuff
- remove the Pluto timestamp thingy
- turn all text into comment (`# ...`)

and that should be roughly enough

[2021-08-11 14:44] ViralBShah commented on #1348
@fonsp may be interested in this discussion as well.

[2021-08-11 15:56] weymouth commented on #1348
Ok. I've tried to do as suggested and put it [here](https://github.com/weymouth/weymouth.github.io/blob/master/Shark_cleaned.jl).

I'm not sure how it's going to look. Code blocks have comments, which now look the same as the markdown blocks... Let me know.

[2021-08-12 13:42] #1348 closed

[2021-08-12 18:55] StefanKarpinski commented on #1348
This blog post is awesome.

[2021-08-12 19:46] weymouth commented on #1348
Thanks!

[2021-08-15 22:31] FedericoPena opened #1351 "Udemy courses"
Hi to everyone!
Does anybody have an opinion about the recently launched julia courses on Udemy platform?
Link here: [https://www.udemy.com/courses/search/?src=ukw&q=julia+programming+language](Udemy-Julia programming language)

[2021-08-15 22:37] logankilpatrick commented on #1351
I personally would avoid adding them here given the number of free courses we already have linked.

[2021-08-16 20:39] fonsp commented on #1348
I wont be able to look into this until next month, but the solution from the mit course was:
- (if you want to automate the HTML generation) use PlutoSliderServer.jl as demonstrated in https://github.com/JuliaPluto/static-export-template
- use an iframe to show a pluto notebook inside a page with additional navigation elements. use CSS media queries to show the iframe at 100vh 100vw on small scree

[2021-08-20 15:38] StefanKarpinski opened #1357 "the blog is gone"
https://www.julialang.org/blog/ is currently a 404

[2021-08-20 15:45] logankilpatrick commented on #1357
Yep, just pushed a commit but not clear as to why

[2021-08-20 15:46] StefanKarpinski commented on #1357
Locally, Franklin can't generate the site at all for me due to a syntax error in the JuliaCon highlights post.

[2021-08-20 15:47] logankilpatrick commented on #1357
Good catch. It really is the little things (:head-bang)

[2021-08-20 15:49] logankilpatrick opened #1359 "Add Command to deploy a preview of a PR from someone outside the org"
This will help resolve issues where we accept a PR that looks good and it beaks the site.

[2021-08-20 19:39] rikhuijzer commented on #1357
https://github.com/tlienart/Franklin.jl/issues/785

[2021-08-21 14:42] tlienart commented on #1357
While I agree that Franklin can probably fail more clearly and block the deployment upon specific errors, there's currently a preview path for this website exactly to avoid such problems, so people should make sure that whatever they commit works on preview fully before they merge!

[2021-08-21 14:47] giordano commented on #1357
Preview doesn't work for pull requests from forks, which is the case for #1356.  So at the moment we can't rely on always having the preview deployed

[2021-08-23 06:51] sara192 opened #1362 "Clima"

[2021-08-23 07:23] #1362 closed

[2021-09-01 14:21] #1317 closed

[2021-09-01 14:28] DilumAluthge commented on #1086
I would prefer that instead of removing repl.it, we get https://github.com/replit/polygott/pull/222 merged, and then upgrade to 1.6.2.

[2021-09-03 01:20] logankilpatrick opened #1373 "Add getting started with Julia section"

[2021-09-09 03:15] 01-vyom opened #1374 "New Classroom with Julia at University of Florida"
We have started using Julia for the following course:

University of Florida
COT 5615, Math for Intelligent Systems: Fall 2021, Prof. Kejun Huang

[2021-09-20 11:00] PallHaraldsson commented on #1323
Date set: "On August 31, Microsoft published a blog article regarding the official release of Windows 11. According to the blog post, Windows 11 will become available for everyone from October 5, 2021. [..] It is also mentioned that all systems with previously installed windows 10 will get a free upgrade to official windows 11."

[2021-09-23 12:10] Mahdi00211 commented on #1374
How can i access to this julia course

[2021-09-24 20:22] mauriciotejada opened #1380 "Curso de Introducción a la Programación en Julia para Economistas"
Curso de Introducción a la Programación en Julia para Economía
Magister en Economía
Universidad Alberto Hurtado
Santiago, Chile
https://mauriciotejada.com/programacionjulia/

[2021-09-25 05:40] sverek opened #1382 "Remove version number from "download button" on main page"
For more clarity:

Change "Download Julia 1.6.3" to "Download Julia" on the main page.

Since new users may be looking for downloading LTS, nightly, 1.7, or other versions.

[2021-09-25 05:47] DilumAluthge commented on #1382
Right now, we have two buttons:
1. Download v1.6.3
2. Documentation

What if we instead have three buttons:
1. Download v1.6.3
2. Download other versions
3. Documentation

[2021-09-28 18:11] StefanKarpinski commented on #1382
Maybe `Download latest (v1.6.3)`, `All downloads`, `Documentation`?

[2021-09-29 09:29] KristofferC commented on #1382
I don't think we have the ability right now to do OS detection which would allow for a direct download button. So in the meantime I think it makes sense to remove the explicit version because it makes you indeed think you will get such a direct download.

[2021-09-30 14:37] StefanKarpinski commented on #1382
Isn't detecting the OS straightforward? (For someone who has any web skillz, of course.)

[2021-09-30 14:45] logankilpatrick commented on #1382
I started the PR, it works, but there's edge cases for the Linux folks so we didn't push forward with it

[2021-09-30 15:33] StefanKarpinski commented on #1382
If the users OS is Linux, could we just not show that button?

[2021-10-01 14:36] #1382 closed

[2021-10-10 14:05] logankilpatrick opened #1392 "Add the Julia is a NF Fiscally sponsored project in footer"

[2021-10-10 14:07] logankilpatrick opened #1393 "Add Governance page which we can update"
Right now, the governance page points to a blog post from 2019. While it is more or less up to date, we should likely make a page which we can update directly without changing history.

https://julialang.org/blog/2019/02/julia-entities/

[2021-10-10 17:19] 01-vyom commented on #1374
The course is based on this [book](http://vmls-book.stanford.edu/vmls.pdf). Our course syllabus for this semester is not public.

[2021-10-10 18:37] logankilpatrick commented on #1392
Requirement might be an overstatement, they ask that:

Much too verbose in the current form for a footer but it seems like something we should add

[2021-10-10 18:43] KristofferC commented on #1392
Alright, I don't think it is too disruptive to put that on the bottom of the page?

[2021-10-10 18:54] ViralBShah commented on #1392
It's confusing to ask people to donate to NF on the page they come to donate to julia. This message would be confusing, as it is would also suggest that their github donation would be tax-deductible in the US (which may not be the case when sent to github).

[2021-10-10 19:07] ViralBShah commented on #1380
@mauriciotejada Could you make a Pull Request to the site to add your class to the list of classes?

[2021-10-19 19:53] #1304 closed

[2021-10-19 19:56] ViralBShah commented on #1306
The awards and prizes are valuable and should not be buried. The publications could be spun out into a separate page since they are simply not easy to maintain any more. Some refactoring is probably required.

[2021-10-19 20:13] #1286 closed

[2021-10-19 20:27] ViralBShah commented on #1373
dup of #967

[2021-10-19 20:27] #1373 closed

[2021-10-20 02:20] #1374 closed

[2021-10-20 02:30] Mahdi00211 commented on #1374
Hi
What is closed??

در تاریخ چهارشنبه ۲۰ اکتبر ۲۰۲۱،‏ ۵:۵۰ Viral B. Shah <
***@***.***> نوشت:

[2021-11-13 13:26] Gold-Snitch opened #1442 "The "Optional" in the installation in macOS fails"
In the documentation of how to [Add Julia to PATH](https://julialang.org/downloads/platform/#optional_add_julia_to_path)  in macOS, the first command line succeeds, but the second doesn't. After typing the second line, shell says,
[code]
Well, after a try, I found the reason is `/usr/local/bin` doesn't exists, while `/usr/local` exists.
So first
[code]
then do
[code]
finally
[code]
Then I solve it

[2021-11-20 23:36] ViralBShah commented on #1337
This is great! @logankilpatrick Do we have a section on our website where we add translations? Perhaps we can carry these in the Community section.

[2021-11-21 01:29] ViralBShah commented on #1393
Actually - I agree with the original proposal of having a governance page on julialang.org. The entities blog post has the right content, but needs updating just because it is a couple of years old.

It would be best to start with an updated version of that as the Governance page.

[2021-11-21 01:35] DilumAluthge commented on #1393
I think the vast majority of the original blog post is accurate.

We should update the number of active committers and dormant committers. We should also update the part about Julia community members on the NumFOCUS board, e.g. Logan is on the board currently.

@StefanKarpinski @ViralBShah Anything else stand out to you as needing an update?

[2021-11-21 01:39] ViralBShah commented on #1393
There are lots of small things that need changing all over.

# of contributors with commit access
NF signatories
NF board member
More Julia NF projects
Some people have changed jobs
Some Julia Computing updates

While we do these updates, we may think of other things.

[2021-11-21 01:40] ViralBShah commented on #1393
I am updating that blog post for URLs, but I don't think we should edit any content there, and it is best to create a page on the website that can be kept updated.

[2021-11-22 13:37] fonsp opened #1439 "Allow CORS on `julialang-s3.julialang.org`"
I was trying to make a cool website that automatically shows the latest stable Julia version in example snippets using JS:
[code]

but it failed because the server (`julialang-s3.julialang.org`) is not configured to allow CORS, i.e. allow requests from JS inside pages on domains other than `julialang.org`. Unless this is intentional, it would be great if we could configure the S3 to allow CORS on

[2021-11-22 19:40] StefanKarpinski commented on #1439
cc @staticfloat who largely controls our S3 buckets

[2021-11-22 21:46] staticfloat commented on #1439
Try again now?

[2021-11-23 15:02] logankilpatrick commented on #1337
Yes, this is the proper section: https://julialang.org/community/#localization

[2021-11-25 11:07] fonsp commented on #1439
It works, yayy! 💕

[2021-11-25 11:07] #1439 closed

[2021-11-30 08:22] #1442 closed

[2021-12-01 06:15] aditkumar72 opened #1450 "Required enhancement in juliaacademy's button UI"
The `Complete and  Continue` button in lecture pages are not visible unless hovered.

![image](https://user-images.githubusercontent.com/40900556/144181570-865f7e78-ada2-4dcf-a20a-e958cedc5bf2.png)
[demo](https://juliaacademy.com/courses/375479/lectures/16882463)

[2021-12-01 06:18] aditkumar72 commented on #1450
I like to work on this. My idea is to make the `Complete and Continue` button UI same as `Previous Lecture`

[2021-12-01 18:00] zmoon opened #1453 "Some images getting stretched"
For example
![image](https://user-images.githubusercontent.com/15079414/144288055-440b20d8-18f0-4858-a3b0-3a83d61dd79e.png)

[2021-12-03 15:30] ViralBShah commented on #1453
We should probably have a different example here that works out of the box today.

[2021-12-03 15:41] logankilpatrick commented on #1453
What do you mean by works out of the box? Perhaps we could use: https://github.com/JuliaGaming/Tetris ?

[2021-12-03 15:43] ViralBShah commented on #1453
Something you can clone the repo and run. That minesweeper code is years old.

[2021-12-03 15:53] ViralBShah commented on #1453
I suppose Tetris could be good, but I don't see a Manifest or a Project.toml. Whichever one we pick, we have a bit of a commitment towards ensuring it reliably works and is maintained.

[2021-12-06 00:44] ViralBShah commented on #1450
It's hosted on teachable.com. I don't know how configurable it is.

[2021-12-06 01:45] ViralBShah commented on #1328
I think your best bet is to look at the [orgs ecosystem](https://julialang.org/community/organizations/) and connect with contributors in those orgs, and also ask on discourse.

As such, ML, while extremely popular, should not be treated specially than any other domain.

We can extend the list of orgs to allow org owners to provide a way to get involved with those orgs.

[2021-12-06 12:31] ViralBShah commented on #967
@logankilpatrick Can we just update that image with the new youtube video on installation that you recorded recently?

[2021-12-06 12:33] ViralBShah commented on #1023
Should this issue be migrated to the Franklin repo?

[2021-12-06 12:35] ViralBShah commented on #1306
Contribute could be a new section, or even be a major theme of the Community page. This is discussed in #1328. I would actually like to improve the Research page, not drop it.

[2021-12-06 12:38] ViralBShah commented on #760
#1328 has some concrete ideas, and the CONTRIBUTING.md document is updated from time to time.

[2021-12-06 12:38] #760 closed

[2021-12-06 12:40] ViralBShah commented on #690
I think we just  have to leave the external links as they are. It's impossible to play catch up.

[2021-12-06 12:40] #690 closed

[2021-12-06 13:27] ChrisRackauckas commented on #1306
Publications should just be generated from Google Scholar, and it should say that if you want to be featured on the page you should cite the Julia paper.

[2021-12-06 13:41] ViralBShah commented on #1306
How do you generate from Google Scholar? We can just link to it - but it would be nice if we can generate a list for our own page.

[2021-12-06 13:58] timholy commented on #1306
Good for going forward but perhaps not retrospectively.

[2021-12-06 14:01] logankilpatrick commented on #967
Which image @ViralBShah ?

[2021-12-06 14:03] ChrisRackauckas commented on #1306
https://serpapi.com/google-scholar-api can scrape it. I think we need to go to scraping because it's thousands at this point, or just link to Google Scholar.

[2021-12-06 14:07] tlienart commented on #1023
uh no, this is about the page layout not about anything Franklin controls.

Basically pages are built like this:

[code]

head and foot are things that indicate what CSS is needed or what Javascript is needed; you can have rules such as for instance not having highlight.js loaded on pages without code blocks or only loading specific interactive javascript stuff for blog posts that need them; but B

[2021-12-06 15:24] zmoon commented on #1453
While that sounds good, just to be clear, in this issue I was pointing to the stretching resulting from the CSS, and it isn't just the Ecosystem examples.

![image](https://user-images.githubusercontent.com/15079414/144872660-80c83068-f0b5-47e8-8b63-7638ec4f06da.png)

[2021-12-06 17:03] ViralBShah commented on #1023
I don't think we should worry about it much. We can just leave this open...

[2021-12-06 18:13] ViralBShah commented on #1306
I think we can stop accepting new papers. In fact people have stopped submitting anyways. So we can archive, not accept new submissions, and just link to the google scholar (which we already do).

[2021-12-06 18:14] ViralBShah commented on #967
The page that I have linked in the first comment. It has a Julia 1.1.1 terminal screenshot, which could be replaced by the video.

[2021-12-09 15:23] logankilpatrick commented on #1450
I can't reproduce this issue locally. Please let me know if it persists!

[2021-12-09 15:23] #1450 closed

[2021-12-13 15:55] VivaldoMendes opened #1465 "New book using Julia"
Eric Darve and Mary Wootters have a new book on "Numerical Linear Algebra using Julia", published by SIAM last October. This book is still not listed in the books section.

[2021-12-16 14:43] logankilpatrick opened #1467 "Broaden the scope of the ecosystem section of the home page"
Right now, it just includes: "Visualization, General Purpose, Data Science, Machine Learning, Scientific Domains, Parallel Computing"

Other ideas:
Chemistry
Biology
WebDev
Gaming

(just spitballing some ideas)

Maybe the existing sections are as good as we can get but wanted to open this up to brainstorm.

[2021-12-26 12:40] logankilpatrick opened #1472 "PR Previews fail to load"
The previews through Netlify are still failing to load

[2021-12-29 13:58] logankilpatrick commented on #1472
Cc @DilumAluthge @tlienart

[2021-12-29 14:00] DilumAluthge commented on #1472
It looks like it's pushing to the `gh-previews` branch correctly. Maybe the issue is with Netlify?

Who has access to the Netlify account? I do not.

[2021-12-29 14:38] mz2357 opened #1473 "New Julia Book"
Noel Kalicharan wrote a new book on Julia: "Julia - Bit by Bit", which has recently been published by Springer (ISBN: 978-3-030-73935-5) and is not yet listed in the list of books.

[2021-12-30 14:30] tlienart commented on #1472
As I mentioned in the blogpost PR from a few weeks ago, I *think* the Netlify account that was being used for the preview was mine for some reason; I don't use my Netlify account and so was not aware of what was going on there. Recently they seem to have added some stuff where you're forced to add a credit card and previews are not free, since I obviously did none of this, my Netlify account is bl

[2021-12-30 14:36] DilumAluthge commented on #1472
@ViralBShah @logankilpatrick Can we get a free Netlify account for Julia to use for the previews?

[2022-01-01 04:05] garrison commented on #1027
AMP is no longer necessary to achieve the carousel, and there may no longer be any benefit to using AMP.  From a recent [Google update](https://developers.google.com/search/blog/2021/04/more-details-page-experience#details):

I first learned about this from a (highly editorialized) [post on the Plausible blog](https://plausible.io/blog/google-amp).

[2022-01-01 05:06] ViralBShah commented on #1027
Great!

[2022-01-01 05:06] #1027 closed

[2022-01-02 07:59] sayantan1410 commented on #1473
Hey I would like to work on this issue, Do I have to add the link of the book to this md file "https://github.com/JuliaLang/www.julialang.org/blob/main/learning/books.md" ?
Thank you.

[2022-01-02 14:03] logankilpatrick commented on #1473
yes, that would be great!

[2022-01-03 01:31] mz2357 commented on #1473
Thanks for taking care of this! The link is correct, but as this is one of the most recent books it should probably appear at the top of the list due to the anti-chronological order.

[2022-01-03 04:01] sayantan1410 commented on #1473
Okay making another commit to the PR after changing it. @mz2357

[2022-01-03 09:00] sayantan1410 commented on #1473
hey @mz2357 , I have updated the PR can you please check and drop a comment if everything is alright. Thank you.

[2022-01-03 11:13] mz2357 commented on #1473
Hey Sayantan, I checked it, and it looks perfect to me. Thanks!

[2022-01-03 14:03] sayantan1410 commented on #1473
Thank you @mz2357
can it be merged now ? @logankilpatrick

[2022-01-03 20:58] logankilpatrick opened #1478 "Create editable template for the schools where Julia is taught"
@ViralBShah Do you have a WIP file that you used to generate the exiting image here: https://julialang.org/learning/ under the "In the classroom" heading? CC @jpfairbanks

[2022-01-03 21:06] #1473 closed

[2022-01-04 07:44] murwansiddig opened #1480 "Julia in a new classroom at RWTH Aachen University"
We have started using Julia for the following course.

Name: [Introduction to Programming for Business Analytics](https://www.dpo.rwth-aachen.de/cms/DPO/Studium/Lehre/~puyhc/Introduction-to-Programming-for-Business/lidx/1/)
University: RWTH Aachen University
Semester: Winter 2021
Instructor: Dr. Murwan Siddig

[2022-01-04 09:47] cristophermoen opened #1482 "engineering course at JHU using Julia"
* Johns Hopkins University
    * [EN560.630](https://github.com/cristophermoen/StructuralDynamics), Structural Dynamics (Prof. Cristopher D. Moen), Spring 2020, Fall 2021

[2022-01-04 10:14] #1480 closed

[2022-01-04 15:43] ViralBShah commented on #1478
I believe there's a google slide on that. @StefanKarpinski created that slide, but it should be fairly easy to edit that slide. It is not programmatically generated.

[2022-01-04 18:07] frankelsh opened #1485 "Graduate computational fluid dynamics course featuring Julia language at Technion"

[2022-01-05 01:42] logankilpatrick commented on #1086
@DilumAluthge from the folks at Replit

[2022-01-05 01:46] DilumAluthge commented on #1086
I know very little about Nix, so we may need to bring in some other people to help with this.

Are they saying that they will only use Julia if there is a Nix package for Julia?

How does Nix currently distribute Julia? Do they distribute the official binaries from the Julia website? Or do they build it themselves? If Nix builds Julia themselves, and if Repl.it only uses the Nix Julia, I'd be relu

[2022-01-05 01:47] logankilpatrick commented on #1086
I just pinged in the nix channel on Slack to see if we can get some more nix experts.

[2022-01-05 03:10] ViralBShah commented on #1086
Can't we just provide a shell script to users to download and install Julia on login? Maybe just juliaup. Seems like a much easier solution.

Building something special here means either is committing to do it forever or for having older versions when we can't keep up.

Maybe replit staff can package Julia as part of their distribution?

[2022-01-05 07:18] rikhuijzer commented on #1086
See https://github.com/NixOS/nixpkgs/tree/master/pkgs/development/compilers/julia: 1.6 and 1.7 are based on the official binaries. Note that only 1.6 is on the stable channel (https://github.com/NixOS/nixpkgs/tree/21.11/pkgs/development/compilers/julia).

They say that they don't want that, right? They use Nix because "This should make getting the latest version of Julia much, much easier." (https

[2022-01-05 08:02] ninjin commented on #1086
I authored and maintain the non-source Nix packages: `julia-lts-bin` and `julia-stable-bin` (currently pointing to `julia_17-bin` and `julia_16-bin`) on Nixpkgs `master` (which then feeds into the `unstable` channel). If Repl.it wants to follow `stable` for *everything*, they are more than welcome to backport non-breaking changes to `stable`. It is not hard work, but takes cherry picking commits,

[2022-01-05 08:05] adkabo commented on #1086
@logankilpatrick

On Nix stable channels, normally [only package bugfixes and security fixes](https://discourse.nixos.org/t/what-is-the-package-version-update-policy-for-stable-channels/11260/3) are applied between semiannual major releases -- upgrading from 1.6 to 1.7 would likely be too much. If Replit also provides an option to access Nixpkgs unstable, new versions would be available on a rolli

[2022-01-05 18:29] mantzaris opened #1488 "Courses using Julia at (UCF)"
UCF = University of Central Florida

- STA 7722 Statistical Learning Theory, Spring 2019-2022 (mostly Julialang)
- STA 6714 Data Preparation, Fall 2021-2022 (almost half based on Julialang)

[2022-01-07 12:23] ViralBShah commented on #1465
Would be great if you can provide a PR to add the book to that page.

[2022-01-07 19:26] #1465 closed

[2022-01-08 14:14] logankilpatrick commented on #1488
Hey! It would be great if you could make a PR and add these

[2022-01-08 14:15] logankilpatrick commented on #1485
Hey! It would be great if you could make a PR and add the course

[2022-01-08 14:15] logankilpatrick commented on #1482
Hey! It would be great if you could make a PR and add the course

[2022-01-08 20:29] frankelsh commented on #1485
Thanks. How?

-Steven

--
On 8 Jan 2022, 16:15 +0200, Logan Kilpatrick ***@***.***>, wrote:

[2022-01-10 15:25] mloubout opened #1492 "LTS links"
I am not sure what's the best way to "fix" it, but currently, the [help] links to download LTS version of julia point to `1.7.1` download instructions instead of `1.6.5`, so copy-pasting the instructions doesn't install the correct version.

The direct download link work fine but I'm not sure if the [help] page should have the code blocks (wget, ...) for the LTS julia version.

[2022-01-16 13:29] logankilpatrick commented on #1472
Fixed this

[2022-01-16 13:29] #1472 closed

[2022-01-16 13:35] ViralBShah commented on #1492
The `[help]` stuff is unfortunately not versioned. I doubt there's a good solution, beyond noting in there that people should substitute the correct version.

[2022-01-16 13:38] ViralBShah commented on #1230
I'm converting this to a discussion, since this doesn't have a direct actionable thing that needs to be done.

[2022-01-21 06:34] laborg opened #1510 "Presentation of the M1 Julia download misleads users"
From Slack

![image](https://user-images.githubusercontent.com/9527104/150477591-e62cdc02-1b4a-4a50-bbf3-220ab78408a2.png)

I think the M1 download should either be completely removed (until 1.8 irons out the show stopper bugs) or put into an extra section "Technical Preview", which could btw also contain the musl build...

[2022-01-25 06:25] laborg commented on #1510
Fixed by #1513.

[2022-01-25 06:25] #1510 closed

[2022-02-02 04:43] #1453 closed

[2022-02-10 03:44] rubgb opened #1538 "Course in Stanford using Julia"
ENGR108: Introduction to Matrix Methods:
https://web.stanford.edu/class/engr108/

[2022-02-10 03:47] rubgb opened #1539 "Course in UCLA using Julia"
ECE133A - Applied Numerical Computing
https://www.seas.ucla.edu/~vandenbe/ee133a.html

[2022-02-12 17:57] #1539 closed

[2022-02-12 17:58] #1538 closed

[2022-02-12 17:59] ViralBShah commented on #1485
Please submit a PR by editing this: https://github.com/JuliaLang/www.julialang.org/edit/main/learning/classes.md

[2022-02-12 18:00] #1482 closed

[2022-02-12 18:02] #1488 closed

[2022-02-12 18:06] ViralBShah commented on #1299
I'm adding these without links for now.

[2022-02-12 18:06] #1299 closed

[2022-02-12 18:07] #1492 closed

[2022-02-14 01:03] mloubout commented on #1492
My apologies for not responding. I understand this is how it's setup and the complications. I however still think version instructions would be good (for example pytorch has a nice table for different OS and version). But this is probably not a priority.

[2022-02-14 17:55] #1485 closed

[2022-02-15 00:41] #1107 closed

[2022-02-15 00:43] ViralBShah commented on #1086
When I go here, nothing loads: https://julialang.org/learning/tryjulia/

@logankilpatrick is this supposed to give us a working Julia repl?

[2022-02-15 00:53] logankilpatrick commented on #1086
If you use chrome incognito, then it stops working, else, it works as expected with Julia 1.6.3 right now.

[2022-02-15 01:31] ViralBShah commented on #1086
Not working for me - incognito or otherwise. I do have an adblocker.

[2022-02-15 01:33] ViralBShah commented on #1086
Closing since it is indeed the latest LTS now.

[2022-02-15 01:33] DilumAluthge commented on #1086
It would be unfortunate if people had to disable their adblocker. And I'm not too keen on having a message that says "please disable your adblocker".

Instead, how about a link that opens the repl.it website in a new tab? And then we can have a message that says "if you see a blank page, please click here to open the REPL in a new tab"?

[2022-02-15 01:33] DilumAluthge commented on #1086
Reopening to discuss the issue of a graceful message for users with adblocker.

[2022-02-15 01:35] ViralBShah commented on #1086
Disabling my adblocker also didn't help.

[2022-02-15 01:37] DilumAluthge commented on #1086
I guess the question is: is the issue with repl.it itself, or is there a problem with the way that we embed repl.it into the Julia website?

What happens if you open a new tab and go directly to: https://replit.com/@logankilpatrick/TryJuliaToday

[2022-02-15 01:40] DilumAluthge commented on #1086
@logankilpatrick On a separate note, the repl.it is giving me 1.6.3. Can we upgrade to 1.6.5?

[2022-02-15 08:59] tlienart opened #1566 "Update "older release" page"
https://julialang.org/downloads/oldreleases/

The last older release is 1.5.4; but the last one is 1.6.x.

[2022-02-15 09:16] fredrikekre commented on #1566
1.6 is still maintained and thus on the regular download page.

[2022-02-15 09:30] tlienart commented on #1566
ah my bad, thanks @fredrikekre

[2022-02-15 09:30] #1566 closed

[2022-02-15 10:02] rikhuijzer commented on #1086
They said they use the Nix stable channel which only updated every 6 months. It is currently at Julia 1.6.3 (https://github.com/NixOS/nixpkgs/blob/21.11/pkgs/development/compilers/julia/1.6-bin.nix). If they would use the unstable channel, then they could have been running 1.7.2 since 2 days after the release (https://github.com/NixOS/nixpkgs/pull/158553).

[2022-02-15 13:53] ViralBShah commented on #1086
This works for me.

[2022-02-15 18:50] ViralBShah commented on #1337
Added in 89c13b46d8844ebac362703a64b1f2e0b441e6c2

[2022-02-15 18:50] #1337 closed

[2022-02-15 18:52] ViralBShah commented on #1467
The main issue is design - what all to present and how.

[2022-02-16 09:38] DilumAluthge commented on #1086
How does this look? https://github.com/JuliaLang/www.julialang.org/pull/1587

[2022-02-16 14:32] #1086 closed

[2022-02-19 17:37] logankilpatrick commented on #1225
I was thinking maybe like a gallery view of peoples profile icons

[2022-02-19 17:42] logankilpatrick commented on #1225
I was thinking a grid of cards which use this: https://getbootstrap.com/docs/5.1/components/card/

[2022-03-01 07:14] MarineVishal opened #1640 "New Book on Julia"
Hey Team 🤗 I have recently Published a Book on Julia...
**_**"Programming With Julia: The Beginning"**_**

I have published it on Amazon and it's available for all marketplace.
US ~ https://www.amazon.com/dp/B09TJ65N4M
UK ~ https://www.amazon.co.uk/dp/B09TJ65N4M
Germany ~ https://www.amazon.de/dp/B09TJ65N4M
France ~ https://www.amazon.fr/dp/B09TJ65N4M
Spain ~ https://www.amazon.es/dp/B09TJ65N4M
It

[2022-03-11 20:54] #1393 closed

[2022-03-11 21:06] logankilpatrick commented on #1478
Here is the private link. If someone wants to add an image, we can give them access too: https://docs.google.com/presentation/d/1t94qHV-Al8gr-AVGEB4RG1KPYMZEN0CUdlfV2oPsAgU/edit?usp=sharing

[2022-03-11 21:06] #1478 closed

[2022-03-15 04:09] newptcai opened #1644 "Problem with documents about installation on Windows"
The section about [Adding Julia Path on Windows 10](https://julialang.org/downloads/platform/#adding_julia_to_path_on_windows_10) should use the example path
[code]
There should be a dash instead of a blank space before 1.7.2.

[2022-03-15 11:57] kylenovak29 opened #1645 "Recently released book using Julia"
Kyle A. Novak, [Numerical Methods for Scientific Computing: The Definitive Manual for Math Geeks, 2nd Edition](https://www.amazon.com/dp/B09VFRYB4W). Equal Share Press, March 2022. The book is also available for free as a PDF from [equalsharepress.com](https://www.equalsharepress.com/media/NMFSC.pdf).

[2022-03-23 15:05] ViralBShah commented on #1645
Would be great if you could edit this page: https://github.com/JuliaLang/www.julialang.org/blob/main/learning/books.md

[2022-03-23 15:06] ViralBShah commented on #1640
Please submit a PR to: https://github.com/JuliaLang/www.julialang.org/blob/main/learning/books.md

[2022-03-23 15:16] #1640 closed

[2022-03-23 15:28] ViralBShah commented on #1645
@kylenovak29 You have a really interesting background. Thanks for putting this book together. I enjoyed flipping through it!

I did notice that you are using `LightGraphs` for some of your examples, and that package has been updated to `Graphs`. Not sure if your book is a live book and can be updated - or if it may be something to be addressed in a second edition.

[2022-03-23 15:45] kylenovak29 commented on #1645
Thanks for the feedback! Yes, I can update it. I'm using an agile publishing methodology to make the book available with minimal errors and improve it with feedback. The book is live and it can be updated (both the PDF and the print edition). I should be able to make the changes to the book to use Graphs instead of LightGraphs within the next few days. If you happen across any other errors/suggest

[2022-03-23 15:54] ViralBShah commented on #1645
@ChrisRackauckas @YingboMa  - @kylenovak29 's book also has a nice chapter on ODEs with a nice comparison table. Since we have a line with the author - I thought I would ping you if you wanted to take a quick look and make suggestions, if any.

[2022-03-23 16:11] kylenovak29 commented on #1645
Many thanks to @ChrisRackauckas, who has already provided some helpful comments on correcting/improving the comparison table (which has since been updated). Any additional feedback is welcome.

[2022-03-24 15:41] YingboMa commented on #1645
Thanks a lot for writing the book! I really enjoyed reading it.

<img width="768" alt="image" src="https://user-images.githubusercontent.com/17304743/159954452-eb25ee83-382e-4c87-9d97-b01ae6f4f288.png">
BTW, IDA, ode15i, and BDF are all BDF not NDF. We also have the the pure Julia implementation DFBDF which is mathematically equivalent with ode15i. QNDF is the equivalent of ode15s, and both of the

[2022-03-24 15:44] ChrisRackauckas commented on #1645
I would simplify that down to:

BDF/NDF
Julia: CVODE/FBDF/QNDF
MATLAB: ode15s
Python: BDF

BDF/NDF (DAE)
Julia: IDA/DFBDF
MATLAB: ode15i
Python: ------

[2022-03-24 15:45] ChrisRackauckas commented on #1645
And for reference https://www.reddit.com/r/Julia/comments/tenqrz/book_numerical_methods_for_scientific_computing/i0qt7nv/?utm_source=reddit&utm_medium=web2x&context=3

[2022-03-24 15:45] YingboMa commented on #1645
There's no NDF solvers for fully implicit DAEs in MATLAB, Julia, or Python.

[2022-03-24 15:47] ChrisRackauckas commented on #1645
Yeah that was just a typo

[2022-03-24 15:48] ChrisRackauckas commented on #1645
In fact, even mentioning NDF is probably not a good idea for this book. NDF is such a weird obscure thing. Maybe just

BDF
Julia: CVODE/FBDF/QNDF
MATLAB: ode15s
Python: BDF

BDF (DAE)
Julia: IDA/DFBDF
MATLAB: ode15i
Python: ------

Is good enough.

[2022-03-24 17:49] kylenovak29 commented on #1645
Thanks! I'll add Chris' latest suggestion to the table---it looks like it will all still fit. My hope for the table is primarily a summary of the methods discussed earlier in the chapter and secondly as a quick comparison reference. I don't discuss NDFs or Klopfenstein--Shampine except in passing reference to the table, included for completeness as a hold-over from an earlier edition that focused

[2022-04-08 07:08] gitboy16 opened #1660 "Nightly version - commit id"
Hi,
It would be nice on the nightly download page to show for which commit the binaries have been generated. I always have to download them to find out the commit id.
Thabk you

[2022-04-08 07:12] DilumAluthge commented on #1660
Duplicate of https://github.com/JuliaCI/julia-buildkite/issues/35

[2022-04-08 07:12] #1660 closed

[2022-04-08 17:31] kylenovak29 commented on #1645
I've updated the table and the section on ODE solvers. To keep the table as simple as possible, I decided to list only pure Julia routines under the Julia column because the other routines in the table could already be used in Julia using a wrapper. I also decided to change the last column to efficiency instead of accuracy because accuracy is arbitrary using adaptive step sizes. I used the benchma

[2022-04-08 17:53] ChrisRackauckas commented on #1645
VCABM is a Adams-Bashforth-Moulton, same as LSODE and CVODE with Adams coefficients, which is the same as ode113.  So those rows should be merged. CVODE also does BDF coefficients (as does LSODE) for stiff equations: they just swap which coefficients they use (and linear solver).

[2022-04-08 19:00] kylenovak29 commented on #1645
I thought that ode113 was an ABM PECE method (using PECE functional iteration) while LSODE and CVODE were AM methods (with Newton or functional iteration) [or BDF methods (depending on the flag)]. I separated them because the LSODE and CVODE can take/compute Jacobians while ode113 does not. The documentation on VCABM says it uses DDEABM (which doesn't appear to use any type of Newton iteration), s

[2022-04-08 19:50] ChrisRackauckas commented on #1645
Ehh I wouldn't make a difference there. LSODE and CVODE are ABM methods. They solve a nonlinear system and use Adams-Bashforth for the predictor. Then they default to using functional iteration, which if it only did one step of it you'd call that ABM PECE, while it can now iterate that to convergence (or you can set the max to one). You can only give it a Jacobian and force it to do Newton, but ef

[2022-04-08 23:16] kylenovak29 commented on #1645
Okay. Thanks. I grouped the ABM methods together as well as the BDF methods.

<img width="430" alt="odetable2" src="https://user-images.githubusercontent.com/20215094/162541899-fdbc3b35-3fb2-4db2-bfd1-21d2aa7ae987.png">

[2022-04-15 16:27] ParadaCarleton opened #1668 "Improving JuliaStats GSoC"
Creating an issue for tracking the JuliaStats GSOC project. I think there's some improvements we could make.
- [ ] Rewrite the CRRao.jl entry, which is currently quite barebones (@ajaynshah)
- [ ] Potentially break up the "Help with JuliaStats packages" if any mentors have more specific interests they'd like to add.

@nosferican mentioned @colintbowers , @matthieugomez , @gragusa , and @lbittarell

[2022-04-19 01:23] EngrStudent opened #1670 "Using the demo code, I get errors"
This is my "versioninfo()":
[code]

I was working through code here: https://julialang.org/blog/2019/01/fluxdiffeq/

When I run this code:
[code]
It gives a pile of warnings and says "future version will error".  That should not happen on demo code.

Here is the warning:
[code]

It seems that it is happening because of prediction using initial conditions.

Here is the code for the "n_ode" function

[2022-04-20 01:32] EngrStudent commented on #1670
I'm not sure how to answer your question beyond the results of "versioninfo()" that were at the top.

[code]

If I go to the Julia console (I've been using JuPyTeR), and I load Pkg then enter "Pkg.status()" it gives me this:
[code]

I've loaded a couple libraries while trying to understand the package.

If you can give me a sequence of instructions that helps me get more information for you then I

[2022-04-20 01:36] DilumAluthge commented on #1670
Can you post the status of all packages in the manifest?

You can do this in the Pkg REPL mode by typing `] st -m`

Alternatively, you can run the following:

[code]

[2022-04-20 01:47] EngrStudent commented on #1670
I don't know what "all packages in the manifest" means, but I get the following when I run your code.

[code]

[2022-04-20 01:48] DilumAluthge commented on #1670
Whoops, my mistake, I made a typo 🤦

I actually wanted you to run `Pkg.status(; mode = Pkg.PKGMODE_MANIFEST)`

[2022-04-20 01:50] EngrStudent commented on #1670
Here you go:

[code]

[2022-04-22 07:47] gragusa commented on #1668
I can help somehow. I have limited bandwidth these days, but I could make space to mentor a student to topics are related to my research and interests.

I have not followed closely  GSOC this year. What’s the status? How many students are applying on the JuliaStats side?

[2022-04-22 15:45] EngrStudent commented on #1670
Attached, theoretically.

[Basic_ODE_Example.zip](https://github.com/JuliaLang/www.julialang.org/files/8542265/Basic_ODE_Example.zip)

[2022-04-22 15:54] ChrisRackauckas commented on #1670
Can you just paste the code in a code block? I just want to know what code to copy-paste to get the warning 😅

[2022-04-22 18:32] EngrStudent commented on #1670
This is prep stuff:

[code]

after that, run the following to get the error:
[code]

[2022-04-23 12:13] ChrisRackauckas commented on #1670
Thanks for isolating it! I was running the non-Flux chains, and this was only with the Flux chains. This warning should now be gone in DiffEqFlux 1.46.1.

[2022-04-23 12:13] #1670 closed

[2022-05-01 05:14] CameronBieganek opened #1675 "The "Documentation" button on the home page should link to the "Learn" tab"
New users are getting sent straight to the manual instead of being directed towards tutorials. I propose that the big blue "Documentation" button link to the "Learn" tab of the page. Or alternatively, we could add a second button, labeled "Learn" or "Tutorials", between the "Download" and "Documentation" buttons to more prominently highlight the alternative learning resources.

xref:
https://disco

[2022-05-13 04:19] ViralBShah commented on #1675
Learn can be after immediately after Documentation, but shouldn't be before. Please submit a PR for that if you like that.

[2022-05-13 14:59] mravariya opened #1679 "Invalid Link for Course Details : 15.053x"
Issue: Invalid link updated on [few MOOC's](https://julialang.org/learning/mooc/) for  [15.053x](https://www.edx.org/course/optimization-methods-business-analytics-mitx-15-053x)

I searched on edX.org for the course using course name, course code, and instructor name but no luck. Looks like either the course name is changed or the course is discontinued from edX.org.

[2022-06-12 11:58] markmendlovitz opened #1684 "New Books in Julia"
T. A Driscoll and R. J. Braun, Fundamentals of Numerical Computation: Julia Edition. SIAM: Philadelphia, PA. 2022.
Y. Nazarathy and H. Klok, Statistics with Julia: Fundamentals for Data Science, Machine Learning and Artificial Intelligence. Springer, 2021.

[2022-06-24 16:09] logankilpatrick opened #1690 "Netlify previews are failing."
https://julialang.netlify.app errors out, they suggest looking at https://answers.netlify.com/t/support-guide-i-ve-deployed-my-site-but-i-still-see-page-not-found/125?utm_source=404page&utm_campaign=community_tracking

[2022-06-25 13:45] ViralBShah commented on #1684
Would be great if you can submit a PR.

[2022-07-01 15:24] logankilpatrick commented on #1690
Closed via #1693

[2022-07-01 15:24] #1690 closed

[2022-07-08 19:47] #1644 closed

[2022-07-15 14:03] quinnj opened #1702 ""Older Releases" page seems pretty out of date"
Page: https://julialang.org/downloads/oldreleases/

Latest "old" release listed is 1.5.4.

[2022-07-15 14:36] DilumAluthge commented on #1702
Well, 1.6 is the current LTS, and 1.7 is the current stable release, so it wouldn't make sense to list 1.6 or 1.7 on that page.

[2022-07-15 15:32] quinnj commented on #1702
I had someone expecting to find the 1.7.1 or 1.7.2 releases there. But maybe we dont' really make those available publicly?

[2022-07-15 16:01] DilumAluthge commented on #1702
Ah, good point. I guess we don't list old patch releases on that page just to save space?

The "correct" way to get the URL would be to parse the https://julialang-s3.julialang.org/bin/versions.json file. All of the old releases are listed in that file.

But it would be nice to find a way to list them somewhere on the website in a compact/concise way.

[2022-07-17 20:20] curio-sitas commented on #1684
One could add :

- S. Nagar,  Beginning Julia Programming For Engineers and Scientists. Apress, 2017
- G. Datseris, U. Parlitz, Nonlinear Dynamics: A Concise Introduction Interlaced with Code. Springer, 2022

I submit a PR

[2022-07-17 20:39] curio-sitas commented on #1684
The two books @markmendlovitz proposed are in the list but with different publication dates. Therefore i don't know if this issue may be closed or if these books have new editions wich motivates a date change in the list.

[2022-07-17 22:00] #1684 closed

[2022-07-17 22:49] ViralBShah commented on #1306
I got the scraper written, but hit maximum requests

[code]

[2022-07-17 22:52] ViralBShah commented on #1306
The simplest thing is to just link to google scholar rather than trying to put all the citations here (even though that would be kind of nice to have all of them listed on 1 page).

[2022-07-17 23:11] ViralBShah commented on #1675
Done in #1705

[2022-07-17 23:12] #1668 closed

[2022-07-17 23:13] ViralBShah commented on #1668
Done in https://github.com/JuliaLang/www.julialang.org/pull/1666

[2022-07-17 23:14] #1645 closed

[2022-07-17 23:16] ViralBShah commented on #1702
A simple fix is to just mention that this page does not have all the patch releases, but details for those are available in `versions.json`.

[2022-07-17 23:18] ViralBShah commented on #1679
Generally, links are provided when classes happen, and then they get taken down. If you find a class with a broken URL - it would be great to have a PR that removes that link (but keeps the class as a historical record).

[2022-07-17 23:18] #1306 closed

[2022-07-17 23:19] ViralBShah commented on #1293
`juliaup` will provide a standard way to do all this. Once it is announced at JuliaCon, we should include a mention on the downloads page.

https://github.com/JuliaLang/juliaup

[2022-07-17 23:21] #752 closed

[2022-07-17 23:22] ViralBShah commented on #757
#1702 is where this should continue.

[2022-07-17 23:22] #757 closed

[2022-07-17 23:32] CameronBieganek commented on #1675
@ViralBShah  Please reopen. I think there was a misunderstanding about the intent of this issue. Re-reading my original post, I guess it's not super clear, but what I would like to do is add a third button that says "Learn", which would be located to the right of the blue "Documentation" button in the following screenshot:

<img width="809" alt="image" src="https://user-images.githubusercontent.co

[2022-07-18 01:14] ViralBShah commented on #1675
@CameronBieganek I disagree that we should have a Learn button there. I made it closer in the navbar to make it slightly more prominent.

However, happy to leave this open for people to chime in.

[2022-07-18 15:42] ararslan commented on #1702
It should be possible to automatically generate some static HTML based on versions.json for inclusion on that page.

[2022-07-25 23:44] hug0b commented on #658
Some initial wireframes I made for a modernized download section, please tell me what you think.
I tried to match the bootstrap style and existing designs.

"Upcoming releases" section is kept separate for now because it has additional description text new users probably don't care about.
"Help" has become "Installation instructions".

![1 - idle](https://user-images.githubusercontent.com/18407984

[2022-07-26 10:53] #1335 closed

[2022-07-26 10:55] fredrikekre commented on #658
I think that looks great!

[2022-07-26 10:58] hug0b commented on #1327
The image renders fine for me in Firefox 102 on Windows 10, Fedora 36 and Android 12.

[2022-07-26 11:40] ViralBShah commented on #658
Looks great. How will the platforms be shown?

[2022-07-26 11:43] giordano commented on #658
Can maybe have a button for the platform (trying to guess the correct one) and another one for the versions (filtering with some javascript magic those available for the chosen platform)?  This could simplify #1706.

[2022-07-26 14:46] hug0b commented on #658
Same design but navigating through each tab would change the download button link and dropdown.

I guess the whole page needs to be redesigned and maybe broken down into multiple pages (like maybe a simple download page for most user needs which then shows a link to a page with all other releases nightly, older, 32bit etc.)
I'm not to sure what would be best and I'm not too happy with my design tb

[2022-08-10 17:31] ViralBShah opened #1719 "Use the new github pages deployment workflow"
This should make the website deployment a lot more seamless.

https://docs.github.com/en/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site#publishing-with-a-custom-github-actions-workflow

[2022-08-10 17:52] ViralBShah opened #1721 "Add JuliaCon 2022 survey to Community section"

[2022-08-10 17:54] ViralBShah opened #1722 "Add JuliaCon community prizes to the research section"
Also, Doug Bates was awarded the 2023 ASA Statistical Computing and Graphics Award (in part for his contributions to Julia).

[2022-08-11 13:13] #1722 closed

[2022-08-11 13:17] #1721 closed

[2022-08-18 14:49] fingolfin opened #1735 "Download page breakage"
On https://julialang.org/downloads/ we see `!<-- 32-bit (ARMv7-a hard float) (GPG) -->` look like a spacing error?

And on https://julialang.org/downloads/oldreleases/ all the links which should point to 1.7.3 instead point to 1.8.0

[2022-08-18 15:13] ararslan commented on #1735
My bad, sloppy work in #1732. Should be fixed in #1737.

[2022-08-18 15:14] #1735 closed

[2022-09-06 10:42] fonsp opened #1746 "New icon for discourse.julialang.org?"
In this screenshot I have one tab with `docs.julialang.org`, and one with `discourse.julialang.org`. They both have the same icon, so I don't know which is which!

![image](https://user-images.githubusercontent.com/6933510/188612793-dd9abd68-a96a-4582-9c35-5775eadce9d4.png)

It would be nice to use a different icon for the Julia discourse!

One idea I had was something like this:

![julia-discours

[2022-09-06 18:23] logankilpatrick commented on #1746
I think this sounds okay to me, I just pinged the Discourse Admins for feedback.

[2022-09-06 21:06] ararslan commented on #1746
The favicon for Discourse's own website, discourse.org, is D part of the logo as shown above. To make the connection to Discourse more obvious, we could potentially just put the regular Julia dots inside the black Discourse D. The Venn diagram is nice but doesn't really imply a connection to Discourse to me.

[2022-09-07 09:00] fonsp commented on #1746
Here is the same with bigger circles, and the union is the same color as the discourse logo 🍭

https://user-images.githubusercontent.com/6933510/188837108-1713fd0e-1943-4900-836a-dc6709a0b999.mov

[2022-09-07 14:21] mbauman commented on #1746
I'm on board with a change. What about something like:

![68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f632f63662f446973636f757273655f6c6f676f2e737667](https://user-images.githubusercontent.com/154641/188902230-6e853246-8c3b-409f-a1f2-358954c9c57d.png)

[2022-09-07 14:53] fonsp commented on #1746
cc @cormullion

[2022-09-07 15:47] cormullion commented on #1746
reminds me of the Colors.jl logo
![image](https://user-images.githubusercontent.com/52289/188921480-73e04627-b65e-4b8d-9f2a-d68e26b58643.png)
 (made with Julia of course 😂)

At the required size, though, I’d suggest a shape difference, not just a few differently coloured pixels. I’ll volunteer some more options tomorrow if you like…

[2022-09-07 18:14] StefanKarpinski commented on #1746
I like @fonsp's last colors with @mbauman's design.

[2022-09-07 21:41] cormullion commented on #1746
Sorry Matt, I failed to notice the dark shape you'd used; my dark-mode browser didn't show it. Still, it reminded me to check these against both Light and Dark backgrounds.

<img width="667" alt="Screenshot 2022-09-07 at 19 55 20" src="https://user-images.githubusercontent.com/52289/188987080-2234fdf4-0cd7-4c89-ac65-1182c847f0dd.png">

They might work when sized to 32x32 pixels, not sure yet...

[2022-09-11 04:38] #1702 closed

[2022-09-12 09:40] pberi opened #1751 "403 error on accessing Julia versions.json"
**Describe the bug**
This issue happens when installing Julia on a cluster in Google Dataproc. We have a scheduled process running everyday in Airflow which creates a cluster in Dataproc, runs the Python process, outputs data, and kills the cluster. The Python process calls a Julia module. If Julia is not installed on the cluster, it is installed via the juliacall package. During the installation,

[2022-09-12 09:45] DilumAluthge commented on #1751
There was an issue with our GCP mirror. @staticfloat fixed it by disabling the GCP mirror, so those requests should go directly to S3 instead.

[2022-09-12 09:49] pberi commented on #1751
Thanks @DilumAluthge ! I will look further into this. Just to understand the cause, is it that Google somehow blocks these kinds of requests via the GCP mirror? I don't know anything about how their mirrors work so I'm just speculating.

[2022-09-12 10:00] pberi commented on #1751
Here's some additional information:
- Python version: 3.8
- juliacall version: latest stable version (0.9.6)

Here's the traceback of the error:

<pre><code>2022-09-10 04:42:24,389 | INFO     | replenishment_policy.julia.julia:__init__:58 - Initializing Julia Runtime! This should only happen once
2022-09-10 04:42:24,389 | INFO     | replenishment_policy.julia.julia:__init__:61 - Also installing Ju

[2022-09-12 10:06] pberi commented on #1751
@DilumAluthge @staticfloat could you please elaborate further? Since I have zero understanding of how mirroring works.

[2022-09-13 13:45] pberi commented on #1751
Sorry, I re-read your message @DilumAluthge and I get it now that it's fixed from your end. Case closed!

[2022-09-13 13:45] #1751 closed

[2022-09-15 04:56] RossBoylan opened #1754 "Document Upgrade Procedure"
Please document the appropriate upgrade procedure for a new release of `julia`.  As far as I can tell, this information is not in the current documentation.

1. Do I need to uninstall the old version first?
2. What do I need to do to ensure the my code/projects/environments will continue to work?
3. Do I need to kill existing julia sessions first?

These are pretty basic questions; it would be ver

[2022-09-15 06:59] azev77 opened #1753 "Julia book"
https://press.princeton.edu/books/hardcover/9780691176819/the-economics-of-sovereign-debt-and-default

Julia code:
https://github.com/markaguiar/TheEconomicsofSovereignDebt

[2022-09-16 09:27] fxcoudert opened #1755 "Add the tarball download link for macOS on all architectures (including ARM)"
On the download page at https://julialang.org/downloads/ for macOS Intel there are two links: a disk image (`.dmg`) and a tarball (`.tar.gz`). For ARM, there is only the `.dmg` file available, not `.tar.gz`. For many applications a tarball is easier to unpack, so is there a reason for not providing it? If not, could it be provided?

[2022-09-17 01:22] RossBoylan commented on #1754
Thanks.  I looked for some kind of "report issues with the website to ..." at the bottom of the pages, but didn't see anything.

[2022-09-19 23:59] #1755 closed

[2022-09-21 11:17] logankilpatrick opened #1757 "Add new "Impact" page"
Something along the lines of https://arpa-e.energy.gov/about/our-impact would be good

[2022-10-12 15:36] Saransh-cpp commented on #1719
Hi, @ViralBShah!

I recently created a [PR](https://github.com/tlienart/Franklin.jl/pull/982) in Franklin's repository outlining the steps required to deploy PR previews using GH Actions and GH Pages. This means that this repository can get rid of the Netlify part of the infrastructure and shift everything to GitHub. Keeping all the infrastructure in a single place and getting rid of the redundant

[2022-10-13 08:27] Shivansh-yadav13 opened #1762 "[BUG] sign up button disappears"
**Describe the bug**
Sign up button disappears when scrolling down

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://discourse.julialang.org/t/plotting-data-on-a-map-in-julia/4655'
2. Scroll down
4. See that sign up button has disappeared from the navbar

**Expected behaviour**
Sign up button should stay up on the navbar even after scrolling down.

**Screenshots**
![Screenshot f

[2022-10-13 08:30] fredrikekre commented on #1762
Should report it to https://meta.discourse.org/. But it looks very deliberate and I don't think it is a bug. When you scroll down the post title is moved to the top bar, and I am guessing they chose to remove the sign up button to make room for it.

[2022-10-13 08:30] #1762 closed

[2022-10-14 15:51] gitboy16 opened #1763 "Non defined variable"
Hi,

In the following blog:
https://julialang.org/blog/2019/07/multithreading/

The variable `m` is not defined in:
[code]
Could you please update this part and provide fully reproductible code for that part?

Thank you
Kind regards.

[2022-10-15 10:04] thazhemadam commented on #1763
Yeah, this should be `mid` instead.

[2022-10-18 16:35] #1763 closed

[2022-11-01 15:42] fonsp commented on #1746
This looks great! What are the next steps @logankilpatrick ?

[2022-11-01 19:20] spaette opened #1772 "screenhot (old startup message)"
_assets/images/julia-gnome.png

**Version 0.3.1**

The above file is not linked to in any `JuliaLang/www.julialang.org` files.

However `JuliaLang/julia` contains the file contrib/julia.appdata.xml which links to a same named .png.

**Version 1.8.2**

![julia-gnome](https://user-images.githubusercontent.com/111918424/199318502-b4fe87f7-e9c4-45c2-a12e-a0953590a0e2.png)

There's the Draft PR `#47390

[2022-11-01 20:26] fonsp commented on #1439
It looks like this isn't working anymore:

![Scherm­afbeelding 2022-11-01 om 21 24 21](https://user-images.githubusercontent.com/6933510/199333817-fa3e8f05-3284-4ce8-84b3-14a963ac900e.png)

There should be the response header:
[code]

[2022-11-02 02:12] StefanKarpinski commented on #1746
I like the middle one.

[2022-11-02 13:12] B-LIE opened #1774 "New Julia Books"
The following two books have been published by SIAM Books -- both are available in Amazon:

1. Kelley, C.T. (2022). Solving Nonlinear Equations with Iterative Methods. Solvers and Examples in Julia. [Jupyter Notebooks]

2. Kaszkurewicz, Eugenius, and Bhaya, Amit (2022). Business Dynamics Models: Optimization-Based One Step Ahead Optimal Control. [JuMP/Julia with Jupyter Notebooks]

[2022-11-05 10:24] ctkelley commented on #1774
I would add

[2022-11-05 10:27] ctkelley commented on #1774
I would change the entry for my book above to

C. T. Kelley,  Solving Nonlinear Equations with Iterative Methods. Solvers and Examples in Julia, SIAM, 2022.  [Jupyter Notebooks, Julia Package]

[2022-11-08 20:54] #1772 closed

[2022-11-09 07:28] sylvaticus commented on #1675
Yep, I obviously agree with the op... 😁
I believe "documentation" is too much confusing for casual, first time explorer users... not to consider it sends to a totally different website...
I have made a pr to _replace_ documentation with learn.
In my opinion experienced users would still know how to reach the documentstion from the link bar at the top.

[2022-11-20 16:49] mathbunnyru commented on #878
We would also like to have a way to easily download the latest version.
Otherwise, we always have to merge the PRs like this one whenever there is a new update.
https://github.com/jupyter/docker-stacks/pull/1833